/**Add to the manin nav tag class="editor-mod"**/

.editor-mod .main-content{
	overflow: visible;
}
.editor-mod ul{
    flex: auto;
    flex-wrap: wrap;
}
/**Add edit-elments to the submenu when need to show the submenu items**/
.editor-mod .submenu.edit-elments{
	position: relative;
	overflow: visible;
}
.editor-mod .submenu.edit-elments ul{
    right: 0;
    width: auto;
    background: #fff;
    height: auto;
    z-index: 9;
    top:30px;
     min-width: 200px;
    padding: 10px 0;
        border: 1px solid #ccc;
}
.editor-mod .submenu.edit-elments ul li{
	margin: 0;
	border:none;
	padding: 15px !important;
	    display: inline-block;
    width: 100%;
}