/***** ARTICLE & COMMENTS *****/

.article_tem .news_sections,
.readers_comments .head span,
.readers_comments .tabslbl,
.readers_comments .cmnt_counter,
.readers_comments .tabs {
    display: none;
}
.multi_artcle_cmnts,
.readers_comments .head,
.cmnt_tools,
.readers_comments .aa_form {
    clear: both;
    overflow: hidden;
}
.readers_comments .head h2,
.readers_comments .btn {
    background-color: #73337d;
}
.readers_comments .head h2,
.readers_comments .btn {
    color: #FFF;
}
.cmnt_hdr,
.cmnt_sender .caption {
    color: #73337d;
}
.readers_comments .head h2 {
    font-size: 28px;
    padding: 0px 10px 6px 10px;
    margin: 0 0 10px 0;
}
.readers_comments .comment {
    border: solid 1px #ececec;
    border-width: 0 0 1px 0;
    padding: 10px 0 10px 0;
    clear: both;
}
.comment .user_thumb {
    width: 10%;
    float: right;
    clear: none;
}
.comment .user_thumb img {
    width: 100%;
    height: auto;
}
.comment .cmnt_hdr,
.comment .cmnt_sender,
.comment .date,
.comment .cmnt_txt {
    width: 87%;
    float: left;
    clear: none;
}
.cmnt_hdr {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}
.cmnt_no {
    padding-left: 5px;
}
.cmnt_sender,
.cmnt_txt {
    font-size: 15px;
    font-weight: bold;
    padding-top: 3px;
}
.cmnt_sender .caption {
    padding-right: 5px;
}
.comment .date {
    font-family: Tahoma;
    font-size: 11px;
}
.cmnt_txt,
.comment .date {
    color: #828181;
}
.cmnt_txt {
    padding: 10px 0;
}
.readers_comments .comment .cmnt_tools li {
    background-color: #e9e7e7;
    moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.readers_comments .comment .cmnt_tools .active {
    background-color: #cecbcb;
}
.readers_comments .comment .cmnt_tools li {
    float: left;
    margin-right: 1px;
}
.readers_comments .comment .cmnt_tools li a {
    padding: 2px 5px 0 25px;
    height: 26px;
    line-height: 215%;
    font-weight: normal;
    font-size: 11px;
    cursor: pointer;
    color: #000;
    background-image: url(../gfx/cmnt_tools.png);
    background-repeat: no-repeat;
}
.readers_comments .comment .cmnt_tools .like a {
    background-position: 5px 5px;
}
.readers_comments .comment .cmnt_tools .dislike a {
    background-position: 5px -28px;
}
.readers_comments .comment .cmnt_tools .reply a {
    background-position: 5px -60px;
}
.comment.reply01 .cmnt_hdr,
.comment.reply01 .cmnt_sender,
.comment.reply01 .date,
.comment.reply01 .cmnt_txt,
.comment.reply02 .cmnt_hdr,
.comment.reply02 .cmnt_sender,
.comment.reply02 .date,
.comment.reply02 .cmnt_txt {
    width: 74%;
    float: left;
}
.comment.reply01 .user_thumb,
.comment.reply02 .user_thumb {
    margin-right: 13%;
}
.comment .readers_comments.add_comment {
    margin: 10px 0;
}
.readers_comments .aa_form,
.readers_comments .reg_box {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}
.readers_comments .btn {
    float: right;
    padding: 5px 15px 8px 15px;
    margin: 10px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
    line-height: 115%;
    display: block;
    font-family: Arabiya;
    border: none;
    border-radius: 0;
}
.readers_comments .btn.reg {
    background-color: #e9e7e7;
    color: #333;
}
.readers_comments .aa_form .row {
    margin-right: 0;
    margin-left: 0;
    padding: 7px 0;
}
.readers_comments .aa_form .lbl {
    font-size: 17px;
}
.readers_comments .aa_form .txt_box,
.readers_comments .aa_form textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-width: 2px;
    background-color: #f7f7f7;
}
.readers_comments .aa_form .txt_box:focus,
.readers_comments .aa_form textarea:focus {
    border-color: #73337d;
}
.readers_comments .aa_form textarea {
    height: 100px;
}
.readers_comments .aa_form .caption {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
    color: #666;
}
.readers_comments .aa_form {
    padding-top: 15px;
}
.login_form .reg_box .btn {
    clear: both;
    width: 100%;
    margin-top: 5px;
}
.aa_form .captcha {
    max-width: 100px;
    height: auto;
}
.thanku_msg h4 {
    font-size: 30px;
    clear: both;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
}
.txt_focus {
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}
.txt_focus h4 {
    font-size: 26px !important;
    margin: 0;
}
.txt_focus .tags a {
    display: inline;
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 170%;
}
/***** SEARCH RESULTS *****/

.search_results .box.search,
.search_results .time_range,
.search_results .filter,
.search_results .tabs,
.search_results .focus,
.search_results .wrapper h5,
.box.popupLayer3.date_pick {
    display: none;
}
.search_results .head {
    clear: both;
    overflow: hidden;
}
.search_results .head h3 {
    float: right;
    padding: 7px 20px 10px 30px;
    margin: 0;
    margin-bottom: 10px;
    background: #73337d;
    font-family: Arabiya;
    font-size: 32px;
    color: #FFF;
}
.search_results .results_no {
    text-align: left;
    padding: 10px 0;
}
.search_results .item {
    clear: both;
    overflow: hidden;
    padding: 5px 0;
    border-bottom: solid 1px #e2e1e1;
}
.search_results .item .highline {
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    color: #73337d;
}
.search_results .item .headline {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #939;
    padding-bottom: 8px;
}
.search_results .results_no,
.search_results .item .date,
.search_results .paging * {
    font-family: Tahoma;
    font-size: 11px;
    color: #777;
}
.search_results .item img {
    width: 100%;
    max-width: 100% !important;
    max-height: 100%! important;
}
.search_results .item p {
    font-weight: bold;
    font-size: 15px;
    padding-top: 7px;
}
.search_results .item p a,
.search_results .item p .source {
    display: inline;
    color: #ce0000;
}
.search_results .item p .source {
    padding-left: 8px;
}
.search_results .paging {
    text-align: center;
    padding: 20px 0;
    clear: both;
}
.search_results .paging li,
.search_results .paging li a {
    display: inline;
    text-align: center;
}
.search_results .paging li a {
    padding: 3px 7px;
    border: solid 1px #e2e1e1
}
.search_results .paging a:hover,
.paging .active a {
    background-color: #73337d;
    color: #FFF;
}
.search_results .pic {
    position: relative;
    margin-top: 5px;
}
.vjs-default-skin .vjs-big-play-button,
.search_results .vid_ico {
    position: absolute !important;
    width: 48px !important;
    height: 39px !important;
    background: url(../gfx/sprites.png) -71px -132px no-repeat !important;
    top: 10px !important;
    left: 10px !important;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.vjs-icon-play:before,
.video-js .vjs-big-play-button:before,
.video-js .vjs-play-control:before {
    font-size: 0;
}
.search_results .vid_ico {
    display: block !important;
}
.vjs-time-divider {
    display: none !important;
}
article .img_box00,
article .img_box01,
article .img_box02,
article .img_box03 {
    background-color: #e9e7e7;
}
article .img_box00 p,
article .img_box01 p,
article .img_box02 p,
article .img_box03 p {
    padding: 0 10px 8px 0;
    font-size: 15px;
    font-weight: bold;
}
article .teaser-wrapper span {
    font-size: 18px;
    position: absolute;
    bottom: 0;
    color: #FFF;
    padding: 4px 2% 3px 2%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}
article .source {
    color: #ce0000;
    font-size: 15px;
    font-weight: bold;
}
article .teaser-wrapper .vjs-big-play-button span {
    display: none;
}