:root {
  --main-bg-color: #6e2968;
  font-size: 16px;
  --men-alharameen-main-color: #63c2c6;
  --men-alharameen-slider-header-color: #f9100d;
}
.men-alharameen .area-100 > div {
  margin-bottom: 20px;
}
.men-alharameen .bem-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(55%, rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1.4))
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 55%,
    rgba(0, 0, 0, 1.4) 100%
  );
}
/**** Header ****/
.men-alharameen .main-header {
  background: #fff;
  height: 105px;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.men-alharameen .main-header .logo {
  background-image: url("../gfx/Logo_Arabic.png");
  background-size: contain;
  background-position: right center;
}
.men-alharameen .top-info {
  background-color: var(--main-bg-color);
  font-size: 1.2em;
}
.men-alharameen .top-info .main-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.men-alharameen .aa-logo {
  width: 97px;
  height: 41px;
  background: url("../gfx/sprites-default.png") no-repeat;
  background-size: 141%;
  background-position: 9px 5px;
}
.men-alharameen .sticky nav .logo {
  background: url("../gfx/logo-arabic-white.png") center right no-repeat;
  background-size: 80px 47px;
  -webkit-transform: none;
  transform: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 130px;
  flex: 0 0 130px;
}
.men-alharameen .sticky nav.moveR ul {
  height: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.men-alharameen nav .search {
  margin-right: auto;
}
.men-alharameen .btn-search {
  width: auto;
  height: auto;
  background: none;
  background: none;
}
.men-alharameen .search-icon-men {
  display: inline-block;
  background: url("../gfx/sprites-default.png") no-repeat;
  background-position: -239px -1860px;
  width: 24px;
  height: 24px;
  margin: 0;
}
.men-alharameen .search-text {
  margin-right: 0px;
}
.men-alharameen .floating-text {
  color: #000;
}
.men-alharameen .lang {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
}
.men-alharameen .lang-btn {
  display: inline;
  font: inherit;
  border: none;
  cursor: pointer;
  background: none;
  position: relative;
  outline: none;
  color: #fff;
}
.men-alharameen .lang-arrow {
  width: 19px;
  height: 19px;
  background: url("../gfx/sprites-default.png") no-repeat;
  display: inline-block;
  background-position: -245px -1837px;
}
.men-alharameen .lang-content {
  display: none;
  position: absolute;
  min-width: 110px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 31px;
  background: #fff;
  color: inherit;
  right: 10px;
}
.men-alharameen .lang-content a {
  color: var(--main-bg-color);
  padding: 12px 16px;
  text-decoration: none;
}
.men-alharameen .lang-content a:hover {
  text-decoration: underline;
  color: var(--main-bg-color);
}
.men-alharameen .lang:hover .lang-content {
  display: block;
}
.men-alharameen header nav {
  background: var(--men-alharameen-main-color);
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.men-alharameen header nav li {
  border: none;
  height: auto;
  margin-top: inherit;
  font-size: 1.5em;
  font-family: Arabiya;
  padding: 0 15px;
}
.men-alharameen header nav li:last-child {
  width: auto;
  height: auto;
  margin: inherit;
}
.men-alharameen header nav a {
  color: #fff;
}
.men-alharameen header nav a:hover {
  text-decoration: underline;
  color: #fff;
}
.men-alharameen header nav .active {
  color: #fff;
}
/**** Header ****/
/**** Main Slider ****/
.men-alharameen .area-100 {
  overflow: hidden;
}
.men-alharameen .slider-container {
  height: 530px;
  overflow: hidden;
  position: relative;
}
.men-alharameen .slick-next,
.men-alharameen .slick-prev {
  width: 14.3%;
  z-index: 2;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.men-alharameen .slick-next {
  background: rgba(0, 0, 0, 0.6) url("../gfx/arrow_back_ios.png") 39px center
    no-repeat;
  right: -1px;
}
.men-alharameen .slick-prev {
  background: rgba(0, 0, 0, 0.6) url("../gfx/arrow_back_ios-left.png") 135px
    center no-repeat;
}
.men-alharameen .slide {
  position: relative;
}
.men-alharameen .slide-media img {
  height: 530px;
}
.men-alharameen .slide-media .video-icon {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  top: -8px;
  left: -7px;
}
.men-alharameen .slide-media .bem-gradient {
  display: none;
}
.men-alharameen .slide-info {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 225px;
  height: 167px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 1.25em;
  line-height: 1.6em;
}
.men-alharameen .slide-info h2 {
  color: var(--men-alharameen-slider-header-color);
  border: none;
  padding-right: 0;
  font-size: 1em;
  line-height: 1.6em;
}
/**** Main Slider ****/
/**** Information Slider ****/
.men-alharameen .information-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 495px;
}
.men-alharameen .information-slider .information-slide {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.3%;
  flex: 0 1 33.3%;
  overflow: hidden;
  -webkit-transition: -webkit-box-flex 0.3s;
  transition: -webkit-box-flex 0.3s;
  transition: flex 0.3s;
  transition: flex 0.3s, -webkit-box-flex 0.3s, -ms-flex 0.3s;
  position: relative;
}
.men-alharameen .information-slide {
  overflow: hidden;
}
.men-alharameen .information-slide:hover {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}
.men-alharameen .information-slide .information-info {
  position: absolute;
  z-index: 4;
  bottom: 40px;
  right: 40px;
  width: 400px;
}
.men-alharameen .information-slide .information-info h2 {
  color: #fff;
  border-color: var(--men-alharameen-slider-header-color);
}
.men-alharameen .information-link {
  width: 100%;
  height: 100%;
}
/**** Information Slider ****/
/**** Box News-Articles ****/
.men-alharameen .news-articles ul {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  background: no-repeat;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.men-alharameen .news-articles ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32.3%;
  flex: 0 0 32.3%;
  margin-left: 0;
  margin-bottom: 20px;
  padding: 0;
  line-height: 2.8em;
  position: relative;
}
.men-alharameen .news-articles ul li .ttl {
  font-size: 1.5em;
}
.men-alharameen .floating-label {
  width: 200px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.men-alharameen .floating-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px 0 10px;
}
.men-alharameen .floating-icon svg {
  width: 100%;
  height: 100%;
}
/**** Box News-Articles ****/
/**** Special Layout ****/
.men-alharameen .special-layout ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 49%;
  flex: 0 0 49%;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
  position: relative;
}
.men-alharameen .special-layout ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.men-alharameen .special-layout ul li .cover {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 325px;
  flex: 0 0 325px;
  margin-left: 20px;
}
.men-alharameen .video-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 340px;
}
.men-alharameen .video-list-icon {
  background: url("../gfx/sprites-default.png") no-repeat;
  background-position: -239px -1769px;
  display: inline-block;
  width: 28px;
  height: 28px;
}
.men-alharameen .video-list-text {
  margin-right: 5px;
  color: #4db6ac;
}
/**** Special Layout ****/
/**** Box News ****/
.men-alharameen .news li:first-child {
  width: 873px;
  height: 500px;
}
.men-alharameen .news li {
  width: 426px;
  height: 240px;
}
.men-alharameen .news li:first-child .ttl {
  right: 40px;
  bottom: 40px;
}
.men-alharameen .news .ttl {
  border-right: 10px solid var(--men-alharameen-slider-header-color);
  right: 20px;
  bottom: 20px;
  max-width: 75%;
}
.men-alharameen .news .floating-icon {
  background-position: -240px -1976px;
  margin-right: 5px;
}
.men-alharameen .floating-label.no-text {
  left: 20px;
  right: auto;
  width: 28px;
  height: 28px;
  background-color: transparent;
  top: auto;
  bottom: 20px;
  z-index: 9;
}
.men-alharameen .floating-label.no-text .floating-icon {
  background-position: -196px -1975px;
  margin: 0;
}
.men-alharameen .floating-label.no-text .floating-text {
  display: none;
}
.men-alharameen .area-25 .news-articles ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
/**** Box News ****/

.men-alharameen .box.news ul {
  overflow: hidden;
}
.more-btn {
  position: relative;
  clear: both;
  display: block;
  margin: 20px 0;
  text-align: center;
  padding: 15px;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.06);
  bottom: 0;
}
.men-alharameen .search-icon-men {
  margin-left: 5px;
}
.men-alharameen .news-articles li .ttl {
  height: auto;
  line-height: 150%;
}
@media (max-width: 480px) {
  .men-alharameen .global-wrapper {
    padding-top: 145px;
  }
  .men-alharameen .area-100 {
    padding: 10px;
  }
  .men-alharameen header {
    position: fixed;
    width: 100%;
    overflow: hidden;
  }
  .men-alharameen .main-header {
    position: static;
    height: auto;
  }
  .men-alharameen .main-header > .main-content {
    padding-bottom: 15px;
  }
  .men-alharameen .main-header .mobile-search {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 44px;
    flex: 0 0 44px;
    -ms-flex-item-align: center;
    align-self: center;
    height: 34px;
    background-position: 10px -70px;
    background-color: var(--men-alharameen-main-color);
  }
  .men-alharameen .main-header .mobile-menu {
    display: none;
  }
  .men-alharameen nav .main-content {
    position: static;
    width: 100%;
    height: auto;
    background: none;
  }
  .men-alharameen nav {
    background: var(--men-alharameen-main-color) !important;
    height: inherit !important;
  }
  .men-alharameen nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .men-alharameen nav .main-content li:first-child {
    margin-top: 0;
  }
  .men-alharameen nav .main-content li {
    line-height: 64px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    border: none;
    padding: 0 10px;
  }
  .men-alharameen .lang-arrow {
    margin-top: 20px;
  }
  .men-alharameen .lang:hover .lang-content {
    position: fixed;
    width: 25px;
    left: 0;
    top: 119px;
  }
  .men-alharameen .lang-content a {
    padding: 0 12px;
  }
  .men-alharameen nav .main-content li a.active {
    border: none;
  }
  .men-alharameen .slider-container {
    height: auto;
  }
  .men-alharameen .slider-container .slide {
    margin-bottom: 10px;
  }
  .men-alharameen .slide-media .bem-gradient {
    display: block;
  }
  .men-alharameen .slide-media img {
    height: auto;
  }
  .men-alharameen .information-slider {
    height: 420px;
  }
  .men-alharameen .slide-info,
  .men-alharameen .box.news li .ttl {
    position: absolute;
    top: auto;
    bottom: 15px;
    width: 211px;
    height: 48px;
    font-size: 1.125em;
    line-height: 1.33em;
    background: none;
    z-index: 3;
    padding: 0;
  }
  .men-alharameen .box {
    padding: 0;
  }
  .men-alharameen .box.news li .ttl {
    right: 20px;
    border: none;
    color: #fff;
  }
  .men-alharameen .slide-info h2 {
    display: none;
  }
  .men-alharameen .information-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    position: relative;
  }
  .men-alharameen .information-slide .information-info {
    right: 11px;
    width: 196px;
    height: 56px;
  }
  .men-alharameen .information-slide:hover,
  .men-alharameen .information-slide.hover-effect {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 70%;
    flex: 1 0 70%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  .men-alharameen .special-layout {
    margin-top: 50px;
    overflow: visible;
  }
  .men-alharameen .news-articles ul li,
  .men-alharameen .special-layout ul li,
  .men-alharameen .special-layout ul li .cover,
  .men-alharameen .news ul li {
    width: 100% !important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .men-alharameen .special-layout ul li {
    margin-bottom: 50px;
  }
  .men-alharameen .special-layout ul,
  .men-alharameen .special-layout ul li a,
  .men-alharameen .news ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .men-alharameen .video-label {
    top: -40px;
    bottom: auto;
    right: 0;
  }
  .men-alharameen .box.news li:not(:first-child) .bem-gradient {
    display: block;
  }
  .men-alharameen .information-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .men-alharameen .information-slider .information-slide {
    height: 420px;
    margin-bottom: 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .men-alharameen .information-slide .information-info {
    width: 90%;
  }
}
