@media (max-width: 480px) {
    .noscroll {
        overflow: hidden;
    }
    img {
        max-width: 100%;
    }
    .main-header .logo,
    .main-header .live-streaming,
    .main-header .mobile-searh {
        background-image: url(../gfx/sprites-mobile.png);
        background-repeat: no-repeat;
    }
    .main-content,
    section .news,
    .area-75 {
        width: 100%;
    }
    .main-header {
        background: #630a64;
        height: 76px;
        padding-top: 0;
        border: 0;
    }
    .main-header .logo {
        background-position: 0 0;
        flex: 0 0 100px;
        height: 42px;
        margin: 15px 18px 0 0;
    }
    .main-header .logo a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .main-header .live-streaming {
        background-position: -24px -51px;
        width: 51px;
        font-size: 0;
        padding: 0;
    }
    .main-header .mobile-menu {
        background: url(../gfx/menu.png) center no-repeat;
        flex: 0 0 51px;
        transition: background .3s;
        cursor: pointer;
    }
    .main-header .mobile-menu.cross {
        background-image: url(../gfx/cross.png);
    }
    .main-header .mobile-searh {
        flex: 0 0 51px;
        margin-right: auto;
        background-position: 15px -51px;
        background-color: rgba(0, 0, 0, .4);
        cursor: pointer;
    }
    .main-header .mobile-menu,
    .main-header .live-streaming {
        display: block;
        background-color: rgba(0, 0, 0, .2);
        height: 76px;
    }
    .top-info,
    .main-header .weather {
        display: none;
    }
    header nav {
        padding: 0;
        margin: 0;
    }
    nav .main-content {
        width: 300px;
        position: fixed;
        overflow-y: scroll;
        top: 76px;
        right: -300px;
        z-index: 3;
        transition: right .3s;
        background: #fff;
        display: block;
        height: 100vh;
    }
    nav ul {
        flex-direction: column;
        height: 100vh;
        padding-bottom: 50px;
        overflow-y: scroll;
    }
    nav li a {
        padding-right: 20px;
    }
    nav .main-content li {
        height: 90px;
        line-height: 90px;
        color: #1d1b1d;
        width: 300px;
        font-size: 22px;
        border: none;
        transition: border-right .2s;
        border-bottom: 1px solid #e6e3e3 !important;
    }
    nav li:last-child {
        margin-bottom: 40px;
    }
    nav li.submenu a {
        display: flex;
        justify-content: space-between;
    }
    nav .main-content li a.active {
        border-right: 10px solid #630460;
    }
    nav li a.btn-search {
        position: absolute;
        left: 37px;
        top: 0;
        display: none;
        z-index: 999;
        background: red;
        font-size: 0;
        background: #3c0744 url(../gfx/search.png) center no-repeat;
        height: 75px;
        width: 51px;
    }
    nav .main-content.show {
        right: 0;
    }
    nav .main-content a span {
        width: 20px;
        height: 13px;
        background: url('../gfx/arrow.png') center no-repeat;
        flex: 0 0 20px;
        align-self: center;
    }
    section {
        flex-direction: column;
        flex-wrap: wrap;
    }
    header {
        margin-bottom: 0;
    }
    .global-wrapper .main-content {
        padding: 10px 0;
    }
    .box {
        padding: 0 10px;
    }
    .news ul,
    .news-mod02 ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-between;
    }
    .news .ttl {
        bottom: 27%;
        font-size: 13px;
        padding: 0 10px;
        max-height: 44px;
        overflow: hidden;
    }
    .news .section-ttl,
    .news-mod02 .section-ttl {
        font-size: 11px;
        padding: 0 5px;
    }
    .news .section-ttl,
    .news-mod02 .section-ttl,
    .news-mod02 li:first-child .section-ttl {
        bottom: 10px;
        right: 10px;
    }
    .news li:first-child,
    .area-50 .news li:first-child,
    .news-mod02 li:first-child {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .news ul li:first-child .ttl,
    .news-mod02 ul li:first-child .ttl {
        font-size: 18px;
        padding: 10px;
        bottom: 16%;
        max-height: 68%;
    }
    .news li:first-child .section-ttl,
    .news-mod02 li:first-child .section-ttl {
        font-size: 14px;
        border-width: 0 4px 0 0;
        padding: 0 10px;
    }
    .news .caption {
        bottom: 10px;
        left: 10px;
        padding: 5px 10px;
    }
    a.cover {
        background-position: right -220px;
    }
    .news.programs li a.cover,
    .news.programs li:first-child a.cover {
        background-position: right 5px;
    }
    .news li,
    .gallery ul li,
    .dark .news-articles li,
    .news.programs ul li,
    .news-mod02 li {
        width: 49%;
        height: auto;
        float: none;
        margin: 0;
        padding: 0;
    }
    .video-icon,
    .photo-icon {
        top: 0;
        left: 0;
        bottom: auto;
    }
    .news li:first-child .video-icon,
    .dark .news-articles .video-icon,
    .news-mod02 li:first-child .video-icon {
        background-position: 0 -168px;
        width: 50px;
        height: 50px;
    }
    .news li .video-icon,
    .news-articles .video-icon,
    .news-mod02 li .video-icon {
        background-position: -10px -272px;
        width: 25px;
        height: 25px;
        left: 0;
    }
    .area-100,
    .area-75,
    .area-50,
    .area-25 {
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto;
    }
    .section {
        display: block;
    }
    .latest-news {
        margin-bottom: 0;
    }
    .news-articles li {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .news-articles .section-ttl {
        font-size: 13px;
        margin-top: 5px;
    }
    .news-articles ul {
        padding: 0;
        background: Transparent;
        margin-bottom: 0px;
    }
    .gallery ul {
        background-color: rgba(0, 0, 0, 0.06);
        padding: 10px 10px 0px 10px;
    }
    .box.gallery {
        padding: 0;
    }
    .box.gallery h2 {
        margin-right: 10px;
    }
    .gallery ul li {
        padding-bottom: 10px;
    }
    .gallery li a {
        color: #333;
    }
    .gallery li:nth-last-child(3):nth-child(odd) {
        xdisplay: none;
    }
    .ad25,
    .dark .news-articles li,
    .gallery li {
        display: none;
    }
    .top-content li .cover,
    .top-content li .ttl,
    .top-content li .caption {
        width: 49%;
    }
    .dark,
    .dark section {
        padding: 0;
    }
    .dark .news-articles ul {
        padding-top: 10px;
        ;
    }
    .dark .news-articles li {
        margin-bottom: 10px;
    }
    .gallery li:nth-child(-n+2),
    .dark .news-articles li:nth-child(-n+2) {
        display: block;
    }
    .top-content li:last-child {
        padding-bottom: 0;
        border: none;
    }
    .breaking-news .lbl {
        padding: 0 10px 0px 10px;
        font-size: 18px;
        line-height: 270%;
    }
    .breaking-news p {
        line-height: 131%;
        font-size: 13px;
    }
    .breaking-news .close {
        width: 17px;
        height: 13px;
        margin: 0 5px 0 10px;
        font-size: 10px;
        font-family: arial;
        line-height: 99%;
        text-align: center;
        webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 0;
    }
    .news-mod02 li img {
        border-width: 0;
    }
    .news-articles ul,
    .news-mod02 li img {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    .news-mod02 li img {
        height: auto;
    }
    .custome-video-home li .ttl {
        height: auto;
    }
    .news.programs .ttl {
        font-size: 17px;
    }
    .news.programs ul li {
        margin-bottom: 8px;
    }
    footer {
        display: none;
    }
}