@media (max-width: 480px) {
    body {
        min-width: auto;
    }
    .noscroll {
        overflow: hidden;
    }
    img {
        max-width: 100%;
    }
    .main-content {
        width: 100%;
        padding: 0;
    }
    header {
        height: 66px;
    }
    .main-header .logo {
        width: 171px;
        margin: 0;
    }
    .main-header .mobile-menu {
        background-image: url(../gfx/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        flex: 0 0 50px;
        transition: background .3s;
        cursor: pointer;
    }
    .main-header .mobile-menu.cross {
        background-image: url(../gfx/cross.png);
    }
    header nav {
        padding: 0;
        margin: 0;
    }
    header nav ul {
        flex-direction: column;
        padding-bottom: 50px;
        overflow-y: scroll;
        visibility: visible;
        opacity: 1;
        width: 70%;
        position: fixed;
        overflow-y: scroll;
        top: 65px;
        right: -70%;
        z-index: 3;
        transition: right .3s;
        background: #333;
        display: block;
        height: 100vh;
    }
    header nav li a {
        padding-right: 15px;
        color: #FFF;
        border-right: 10px solid #333;
    }
    header nav li {
        height: 50px;
        line-height: 50px;
        width: 100%;
        font-size: 15px;
        border: none;
        transition: border-right .2s;
        border-bottom: 1px solid #232323 !important;
        border-top: 1px solid #444 !important;
    }
    header nav li:last-child {
        margin-bottom: 40px;
        border-bottom: none !important;
    }
    header nav li a.active {
        border-right: 10px solid #ed1c24;
    }
    header nav ul.show {
        right: 0;
    }
    header nav .menu-icon {
        display: none;
    }
    header .social {
        margin: 20px auto 0 10px;
    }
    .full-wrapper .main-content {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .area-25,
    .area-75,
    .area-100 {
        width: 100%;
    }
    .area-100,
    .area-75,
    .area-25 {
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto;
    }
}