/**CSS Reset**/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul,
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    display: inline-block;
    outline: none;
}
/**CSS Reset**/

/**Main-Structure**/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: 'LemonadaSemiBold';
    src: url(../fonts/Lemonada-SemiBold.ttf) format('truetype');
}
body {
    text-align: right;
    font-family: LemonadaSemiBold;
    font-size: 90%;
    line-height: 200%;
    min-width: 1024px;
}
/*******Areas************/

.area-100,
h3.ttl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
.area-75 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 680px;
    flex: 0 0 680px;
}
.area-25 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 325px;
    flex: 0 0 325px;
}
/*******Areas************/

.main-content {
    direction: rtl;
    width: 1024px;
    margin: 0 auto;
}
.main-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
header {
    margin-bottom: 20px;
}
header,
footer {
    padding: 45px 0 25px 0;
    border-bottom: solid 1px #f5f9fc;
}
h3.ttl {
    padding: 30px 0 10px 0;
}
h3.ttl,
h3.ttl a {
    color: #022e5b;
}
header .logo,
footer .logo {
    width: 164px;
    height: 91px;
    background: url(../gfx/logo.png) center no-repeat;
    font-size: 0;
}
.logo a {
    width: 100%;
    height: 100%;
}
header .social,
footer .social {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    text-align: left;
    margin-top: 13px;
}
header .social a,
footer .social a {
    width: 30px;
    height: 27px;
    float: left;
    background-image: url(../gfx/social.png);
    background-repeat: no-repeat;
    margin: 5px 15px 0 0;
}
header .social .insta,
footer .social .insta {
    background-position: 0 0;
}
header .social .fb,
footer .social .fb {
    background-position: -45px 0;
}
header .social .twtr,
footer .social .twtr {
    background-position: -95px 0;
}
header .ask {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-top: 90px;
}
.ask form {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #f4f4f4;
    background: #FFF;
    padding: 20px;
    margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder,
button,
textarea {
    font-family: LemonadaSemiBold;
    font-size: 95%;
}
.ask textarea {
    border: none;
    outline: none;
    color: #4b4b4b;
    opacity: .7;
    width: 80%;
    resize: none;
}
.ask button {
    width: 13%;
    float: left;
    background: #242424;
    text-align: center;
    font-family: LemonadaSemiBold;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 7px 5px;
}
.social a:hover,
.ask button:hover {
    -webkit-transition: opacity 0.4s;
    opacity: .7;
}
/* Start Agreement */

.agreement {
    width: 70%;
    position: relative;
    margin: 0 auto;
    float: right;
    font-size: 70%;
}
.agreement label {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 0;
    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.agreement label:after {
    content: '';
    width: 7px;
    height: 4px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0.1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.agreement label:hover::after {
    opacity: 0.3;
}
.agreement input[type=checkbox] {
    visibility: hidden;
}
.agreement input[type=checkbox]:checked + label:after {
    opacity: 1;
}
/* Start Agreement */

.char-left {
    float: left;
    text-align: left;
    font-size: 70%;
    color: #f80303;
    margin-left: 20px;
}
.item {
    position: relative;
    background: #242424;
}
.item span {
    display: inline-block;
    width: 90%;
    right: 5%;
    clear: both;
}
.item,
.item a,
.ask button {
    color: #FFF;
}
.item .ttl {
    position: absolute;
    top: 10px;
    right: 5%;
}
.item .headline {
    position: absolute;
    bottom: 10px;
    font-size: 80%;
}
.item .click {
    width: 100%;
    height: 100%;
}
.item .click img {
    width: 100%;
    height: 100%;
}
.dark,
.dark a {
    color: #333;
}
.cntr-ttl {
    position: absolute;
    top: 38%;
    display: inline-block;
    text-align: center;
    font-size: 240%;
}
.item .highline {
    font-size: 160%;
    line-height: 170%;
    width: 95%;
    margin-bottom: 5px;
}
.killer {
    height: 325px;
    padding: 5px 15px;
}
.killer .ttl {
    padding-bottom: 20px;
    display: inline-block;
    font-size: 80%;
}
.global-wrapper {
    overflow: hidden;
    padding-bottom: 50px;
}
.load {
    font-family: Tahoma;
    font-size: 13px;
    clear: both;
    text-align: center;
    width: 100%;
    padding: 30px 0 20px 0;
    background: url(../gfx/loader.gif) center bottom no-repeat;
}
footer {
    padding: 20px 0 20px 0;
}
.copyrights {
    font-size: 70%;
    padding-top: 40px;
}
.agreement,
.killer .ttl {
    color: #a3a5a7;
}
header,
footer,
.killer {
    background: #f6fafd;
}
footer .social {
        xorder: 1;
    }
@media (max-width: 480px) {
    body {
        min-width: auto;
    }
    .main-content {
        width: auto;
        padding: 0 20px;
    }
    .area-25 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
        flex: 0 0 47%;
    }
    .area-100,
    .area-75 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .hide-in-mob,
    .killer {
        display: none;
    }
    .item .ttl {
        font-size: 80%;
        top: 3px;
    }
    .item .headline {
    font-size: 70%;
    line-height: 160%;
}
    .cntr-ttl {
    top: 25%;
    font-size: 170%;
}
    .item .highline {
    font-size: 140%;
}
    .item {
        margin-bottom: 15px;
    }
    h3.ttl {
        padding-top: 0;
    }
    .char-left {
    margin-left: 0;
}
    .ask form {
        padding: 10px;
        margin-bottom: 10px;
    }
    .ask button {
        width: 20%;
        font-size: 86%;
    }
    .ask textarea {
        font-size: 80%;
        width: 78%;
    }
    header .ask {
    margin-top: 50px;
}
    footer .social {
        order: 0;
    }
    .copyrights {
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
}