/**CSS Reset**/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
html,
body {
    width: 100%;
    height: 100%;
}
ol,
ul,
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    display: inline-block;
    outline: none;
}
/**CSS Reset**/

/**Main-Structure**/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: DroidKufiRegular;
    src: url("../fonts/DroidKufi-Regular.eot");
    src: url('../fonts/DroidKufi-Regular.eot?') format('eot'), url("../fonts/DroidKufi-Regular.woff") format("woff"), url("../fonts/DroidKufi-Regular.ttf") format("truetype");
}
@font-face {
    font-family: DroidKufiBold;
    src: url("../fonts/DroidKufi-Bold.eot");
    src: url('../fonts/DroidKufi-Bold.eot?') format('eot'), url("../fonts/DroidKufi-Regular.woff") format("woff"), url("../fonts/DroidKufi-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Arabiya;
    src: url("../fonts/BoutrosArabiyaB.eot");
    src: url('../fonts/BoutrosArabiyaB.eot?') format('eot'), url("../fonts/BoutrosArabiyaB.woff") format("woff"), url("../fonts/BoutrosArabiyaB.ttf") format("truetype");
}
body {
    text-align: right;
    font-family: DroidKufiRegular;
    font-size: 95%;
    line-height: 150%;
    min-width: 1340px;
}
/*******Areas************/

.area-100 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
.area-75 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 960px;
    flex: 0 0 960px;
}
.area-50 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 600px;
    flex: 0 0 600px;
}
.area-25 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 340px;
    flex: 0 0 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.noscroll {
    overflow: hidden;
}
/*******Areas************/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    display: none;
    top: 76px;
    right: 0;
}
.overlay.show {
    opacity: 0.5;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    display: block;
}
.main-content {
    direction: rtl;
    width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-content,
.top-info .hashtags,
.main-header .weather,
.news-articles ul,
.area-50 .news ul,
.gallery ul,
.news.programs ul,
.tabs-menu,
.opinions ul,
.writers,
.top-writers,
.alfa-filter,
.author-story,
.ad-samples,
.services .flags,
.vod-program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}
.top-info .lang {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
}
.top-info .hashtags,
.main-header .weather {
    -ms-flex-positive: 10;
    -webkit-box-flex: 10;
    flex-grow: 10;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.top-info .hashtags a {
    margin-left: 30px;
}
.top-info .hashtags {
    margin-left: 50px;
}
.top-info .date-time,
.top-info .lang,
section {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.main-header .weather {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
}
/*General-rule for box news header h2*/

section > h2,
div > h2 {
    width: 100%;
    font-weight: bold;
    margin-bottom: 15px;
}
.news-articles {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.aa-vidoes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.aswaq-articles div {
    float: right;
}
footer .main-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer .main-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.news-articles ul,
.gallery ul,
.news.programs ul,
.opinions ul,
.writers,
.top-writers,
.alfa-filter,
.author-story,
.ad-samples,
.services .flags,
.vod-program {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.aa-live,
.teaser-tools ul .share {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Pages & Components */

.ad25,
.news,
.news-mod02,
.latest-news,
.news-articles,
.gallery,
.top-content {
    overflow: hidden;
}
header {
    margin-bottom: 20px;
    -webkit-transition: 0.6s ease all;
    transition: 0.6s ease all;
}
.live-streaming,
.weather {
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}
.top-info {
    font-size: 13px;
    padding: 7px 0;
}
.top-info .lang a:first-child {
    font-family: Arial;
    line-height: 170%;
}
.main-header {
    height: 150px;
    padding-top: 31px;
}
.logo {
    width: 164px;
    height: 70px;
    font-size: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease transform;
    transition: .5s ease transform;
}
.logo a {
    width: 100%;
    height: 100%;
}
header .live-streaming span {
    display: inline-block;
    margin-top: -11px;
    padding: 17px 65px 0 20px;
    line-height: 350%;
}
.main-header .weather {
    margin-left: 20px;
}
.mobile-menu,
.mobile-search {
    display: none;
}
header nav {
    padding: 10px 0;
    line-height: 15px;
}
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
}
nav li {
    padding: 0 14px;
    height: 19px;
    margin-top: 12px;
    font-weight: bold;
    font-size: 14px;
}
nav li:first-child,
.main-content .submenu li:first-child {
    padding-right: 0;
    border: none;
}
nav li:last-child {
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 4;
}
.main-content .menu-icon {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    margin: 0 auto 0 0;
    border-right: none;
    width: 43px;
    height: 16px;
    padding: 0;
    -ms-flex-item-align: center;
    align-self: center;
}
.main-content .menu-icon a {
    width: 26px;
    height: 16px;
    background: url('../gfx/submenu.png') center no-repeat;
}
.main-content .menu-icon.active a {
    background-image: url('../gfx/submenu-active.png');
    height: 30px;
    width: 30px;
    margin: -11px -4px 0 0;
}
/**Inside Sections Page***/

.main-content > ul {
    position: relative;
    transition: .3s ease transform;
}
.main-content.section-page .menu-icon {
    visibility: visible;
    opacity: 1;
    z-index: 4;
}
@-webkit-keyframes slideIN {
    0% {
        right: 50%;
        opacity: 0.1;
    }
    30% {
        opacity: 0.5;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}
@keyframes slideIN {
    0% {
        right: 50%;
        opacity: 0.1;
    }
    30% {
        opacity: 0.5;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideOut {
    0% {
        right: 0;
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    100% {
        right: 50%;
        opacity: 0;
    }
}
@keyframes slideOut {
    0% {
        right: 0;
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    100% {
        right: 50%;
        opacity: 0;
    }
}
.main-content .submenu {
    overflow: hidden;
}
.submenu .arrow {
    display: none;
}
.main-content .submenu ul {
    position: absolute;
    top: 0;
    right: 2000px;
    height: 40px;
    width: 91%;
}
.main-content.section-page .submenu ul {
    right: 0;
}
.main-content .submenu.slideOut ul {
    -webkit-animation: slideOut 0.3s;
    animation: slideOut 0.3s;
    right: 2000px;
}
.main-content .submenu.slideIN ul {
    -webkit-animation: slideIN 0.3s;
    animation: slideIN 0.3s;
    right: 0;
}
.main-content .submenu li:last-child {
    height: 15px;
    width: auto;
    margin: 12px 0 0 0;
}
.main-content .submenu li {
    padding-right: 14px;
}
/**Search Overlay***/

.main-content {
    position: relative;
}
.search-overlay {
    direction: rtl;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 12;
    display: none;
    /* -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition-property: height, width,left;
    -webkit-transition-property: height, width , left;
    transition-property: height, width , left;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3);
    transition-timing-function: cubic-bezier(0.7,0,0.3);*/
}
.search-overlay .close {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    background: url(../gfx/search-reset.png) center no-repeat;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.search-overlay.show {
    display: block;
}
.search-overlay .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}
.search-overlay .container form {
    -ms-flex-item-align: center;
    align-self: center;
    direction: rtl;
    text-align: right;
    width: 80%;
    padding-top: 20%;
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.search-overlay .search-input {
    width: 90%;
    font-size: 2.5em;
    line-height: 1.8em;
    padding: 0 10px;
    border: 0;
    font-weight: 300;
    outline: 0;
    background: 0 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.search-overlay input::-webkit-input-placeholder,
.search-overlay input:-ms-input-placeholder,
.search-overlay input::placeholder {
    font-family: DroidKufiRegular;
}
.close-icon {
    display: block;
    width: 50px;
    height: 50px;
    padding: 2px;
    background: url('../gfx/search-reset.png') center no-repeat;
    border: none;
    margin: 5px -37px 0 0;
    background-size: contain;
    outline: none;
    font-size: 0;
}
.search-input:not(:valid) ~ .close-icon {
    display: none;
}
/**Search Overlay***/

/**Sticky Nav***/

nav .logo {
    display: none;
    background-size: cover;
    background-image: url(../gfx/sprites-default.png);
    background-repeat: no-repeat;
    background-position: 0 -308px;
    height: 60px;
}
/*lh1.logo.scaleD{
    background-size: cover;
    height: 71px;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: right 200%;
            transform-origin: right 200%;
}
h1.logo.scaleU{

    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: right 0;
            transform-origin: right 0;
            z-index: 9;
            background-position: 0 -308px;
       
}

.sticky .weather,
.sticky .live-streaming{
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
}*/

.sticky nav {
    height: 60px;
}
.sticky nav.moveR {
    opacity: .95;
    position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.2);
    transition: top .6s, opacity .6s;
}
.sticky nav.moveR.moveD {
    top: 0;
}
.sticky nav.moveR .logo {
    transform: scale(1.3);
    transform-origin: 171px 95px;
    display: block;
    background-position: 95px -184px;
    width: 170px;
}
.sticky nav.moveR ul {
    height: 40px;
}
nav.moveR .submenu ul {
    padding: 0;
    margin-right: 0;
    height: 40px;
}
.main-content > ul.fixed {
    position: fixed;
    top: 3px;
}
.margintop .global-wrapper {
    margin-top: 95px;
}
/**Sticky Nav***/

section {
    clear: both;
    overflow: hidden;
    width: 100%;
    padding-bottom: 15px;
}
.news li {
    position: relative;
    width: 340px;
    height: 216px;
    float: right;
    margin-right: 20px;
    margin-bottom: 17px;
    overflow: hidden;
}
.news li:first-child,
.area-50 .news li:first-child {
    width: 600px;
    height: 450px;
    float: right;
    margin: 0;
    overflow: hidden;
}
.news-mod02 li:first-child {
    width: 296px;
    height: 450px;
    float: right;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.news-mod02 li:first-child img {
    width: 100%;
    height: 100%;
    margin: 0;
}
.news-mod02 li {
    float: right;
    margin: 0 20px 10px 0;
    overflow: hidden;
    width: 284px;
}
.news-mod02 li .video-icon {
    left: 3px;
    bottom: 5px;
}
.news li:last-child,
.news-mod02 li:last-child {
    margin-bottom: 0;
}
.news-mod02 li .ttl {
    margin-top: 7px;
    display: inline-block;
    height: 45px;
    overflow: hidden;
}
.news-mod02 li:first-child .ttl {
    margin: 0;
    height: auto;
}
.news-mod02 li img {
    width: 100%;
    height: 169px;
}
.news img,
.news-mod02 img {
    overflow: hidden;
}
.area-50 .news li {
    float: none;
    width: 294px;
    height: auto;
    margin: 10px 0 0 0;
}
.area-50 .news ul {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.area-50 .news .ttl {
    bottom: 26%;
}
a.cover {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}
span.cover {
    width: 100%;
    position: relative;
    display: inline-block;
}
.top-content .cover {
    width: 127px;
    float: right;
}
.news li img,
.news-mod02 {
    width: 100%;
    height: 100%;
}
.news li:first-child .ttl,
.news .section-ttl,
.news-mod02 li:first-child .ttl,
.news-mod02 .section-ttl {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    padding: 0 20px;
    line-height: 160%;
}
.news .ttl,
.news.programs li:first-child .ttl,
.area-25 .news li:first-child .ttl {
    bottom: 22%;
    font-size: 17px;
    position: absolute;
    padding: 0 20px;
    line-height: 170%;
    font-weight: bold;
}
.news li:first-child .ttl,
.news-mod02 li:first-child .ttl {
    bottom: 15%;
}
.news .section-ttl,
.area-25 .news li:first-child .section-ttl,
.news-mod02 li:first-child .section-ttl {
    bottom: 20px;
    z-index: 1;
    right: 20px;
    line-height: 150%;
    padding-right: 10px;
    font-size: 14px;
}
.news li:first-child .section-ttl,
.news-mod02 li:first-child .section-ttl {
    font-size: 22px;
}
.news .caption {
    position: absolute;
    font-size: 12px;
    display: inline-block;
    bottom: 20px;
    left: 20px;
    padding: 10px;
}
.area-25 .latest-news {
    width: 100%;
}
.latest-news h2 a,
.top-content h2 a {
    width: 50%;
    padding: 10px 0;
    margin-top: -1px;
}
.area-25 .latest-news li {
    overflow: hidden;
    padding: 10px 0;
    max-height: 67px;
}
.area-25 .latest-news li span {
    display: inline-block;
}
.area-25 .latest-news li:first-child {
    padding-top: 0;
}
.area-25 .latest-news .time {
    width: 15%;
    float: right;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    margin-right: -66px;
}
.area-25 .latest-news a {
    display: block;
}
.area-25 .latest-news a:hover .time {
    margin-right: 0px;
    transition: margin-right ease 0.2s;
    -webkit-transition: margin-right ease 0.2s;
}
.area-25 .latest-news .time .region {
    font-size: 12px;
    width: 100%;
    font-weight: normal;
}
.area-25 .latest-news .ttl {
    width: 85%;
    float: right;
    max-height: 45px;
    overflow: hidden;
    line-height: 150%;
    padding-right: 7px;
    margin-right: -7px;
}
.area-25 .latest-news a:hover .ttl {
    transition: padding-right ease 0.2s;
    -webkit-transition: padding-right ease 0.2s;
    margin-right: 0;
}
h2 {
    padding-right: 10px;
}
.news-articles li {
    overflow: hidden;
    margin-bottom: 35px;
    padding-bottom: 24px;
}
.area-50 .news-articles li,
.area-50 .news.programs li {
    width: 49%;
}
.area-25 .news-articles li,
.area-25 .news.programs li {
    width: 100%;
}
.area-75 .news-articles li,
.news.programs li {
    width: 32.4%;
}
.area-100 .news-articles li,
.area-100 .news.programs li {
    width: 24.1%;
}
.news-articles li img,
.gallery li img {
    width: 100%;
}
.area-25 .news-articles li {
    margin-bottom: 0;
}
.news-articles li .ttl,
.gallery li .ttl,
.topic a .ttl {
    margin: 7px 0 0 0;
    display: inline-block;
    height: 45px;
    overflow: hidden;
}
.news-articles .section-ttl,
.topic .section-ttl {
    font-weight: bold;
    font-size: 100%;
    padding-right: 7px;
    line-height: 120%;
    margin-top: 10px;
}
.news-articles ul,
.gallery ul,
.area-75 .opinions ul,
.area-50 .opinions ul,
.area-100 .opinions ul {
    padding: 12px;
}
.video-icon,
.photo-icon,
.news-mod02 li:first-child .video-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
}
.top-content .video-icon {
    width: 25px;
    height: 25px;
}
.gallery ul li {
    padding-bottom: 15px;
}
.gallery ul li:last-child {
    padding-bottom: 0;
}
.area-50 .gallery ul li {
    width: 47.3%;
}
.area-75 .gallery ul li {
    width: 31.1%;
}
.area-100 .gallery ul li {
    width: 23.2%;
}
.ad25 .wrapper {
    padding: 20px;
}
.top-content {
    width: 100%;
}
.top-content li {
    padding-bottom: 18px;
    margin-bottom: 18px;
}
.top-content li:last-child {
    margin-bottom: 0;
    padding-bottom: 17px;
}
.top-content li img {
    width: 100%;
    float: right;
    margin-left: 15px;
}
.top-content .ttl,
.top-content .caption {
    display: inline-block;
    width: 198px;
    float: left;
    text-align: right;
    overflow: hidden;
}
.top-content .ttl {
    max-height: 45px;
}
.top-content .caption {
    padding-top: 10px;
}
.caption,
article .disclaimer,
.article-card .date-time,
.loader,
form .error,
form .valid {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: normal;
}
.dark {
    padding-top: 20px;
    margin-bottom: 20px;
}
.dark .news-articles ul {
    padding: 12px 0 0 0;
    margin: 0;
}
.dark .news-articles li {
    padding-bottom: 0px;
    margin-bottom: 25px;
}
.dark .news-articles li .ttl {
    height: auto;
}
.dark .news-articles {
    margin-bottom: 0;
}
.custome-video-home li .ttl {
    height: 20px;
}
.external {
    margin-top: 32px;
}
.news.programs li {
    height: auto;
    margin-right: 0;
    margin-bottom: 15px;
    float: none;
}
.news.programs .ttl,
.news.programs li:first-child .ttl {
    bottom: 5%;
}
.area-50 .news.programs li {
    margin: 0 0 12px 0;
}
.news.programs li img {
    height: auto;
}
.latest-news h2,
.top-content h2 {
    padding-right: 0;
}
.opinions li {
    clear: both;
    overflow: hidden;
    padding: 7px 0;
}
.opinions .pic {
    float: right;
    width: 102px;
    height: 102px;
    overflow: hidden;
}
.opinions .pic img {
    width: 100%;
    height: 100%;
}
.opinions .ttl,
.opinions .author {
    width: 67%;
    float: left;
}
.opinions .ttl {
    font-weight: bold;
    margin: 20px 0 5px 0;
}
footer {
    font-family: DroidKufiBold;
    padding: 50px 0 25px 0;
}
.footer-separator {
    clear: both;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
}
footer .logo {
    height: 50px;
    font-size: 0;
    float: right;
    padding-left: 25px;
    width: 145px;
}
footer .copyrights {
    float: left;
    font-size: 11px;
    padding: 22px 20px 0 0;
}
footer ul {
    padding: 0 50px;
}
footer li a {
    font-size: 13px;
    padding: 2px 0;
}
footer li:first-child {
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}
.btn-search {
    width: 37px;
    height: 40px;
    border: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    padding: 0;
    margin: 0;
}
form.global-search {
    display: none;
    padding: 20px 0;
}
input.fld {
    padding: 10px 0;
    background: none;
    outline: none;
    width: 100%;
    font-size: 26px;
}
button {
    display: none;
}
input::-webkit-input-placeholder {
    font-family: DroidKufiRegular;
}
/** Start Slider **/

.Nwoslider {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.slider {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    position: relative;
    max-width: 1320px;
    width: 100%;
    height: 260px;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -o-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slider > .item {
    max-width: 100%;
    list-style: none;
    left: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
#slider img {
    height: 200px;
}
.slider .time {
    height: 60px;
    padding: 18px 10px;
    font-size: 22px;
    font-family: Tahoma;
    direction: ltr;
}
.slider .time .start,
.controls #prev {
    float: right;
}
.slider .time .end,
.controls #next {
    float: left;
}
.slider .time,
.slider .label {
    display: block;
}
.slider .time em {
    text-decoration: none;
    font-size: 17px;
    line-height: 110%;
    padding: 0 7px;
    opacity: 0.6;
}
.controls {
    position: absolute;
    top: 122px;
    width: 100%;
    height: 0;
}
.controls button {
    display: inline-block;
    width: 34px;
    height: 68px;
    cursor: pointer;
    outline: none;
}
.controls button:disabled {
    opacity: 0.5;
    cursor: default;
}
.slider .item {
    position: relative;
}
.slider .item .label {
    position: absolute;
    left: 1px;
    bottom: 1px;
    padding: 10px 10px 10px 20px;
}
.slider .item .label .ttl {
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 3px;
}
.slider .item .label .caption {
    display: block;
    text-align: right;
    font-family: DroidKufiRegular;
    font-size: 14px;
}
.Nwoslider.dateSlider {
    box-shadow: none;
    margin-bottom: 40px;
}
.dateSlider .slider {
    width: 908px;
    height: 55px;
}
.dateSlider .slider .item {
    width: 164px;
    height: 54px;
    text-align: center;
    line-height: 55px;
    border-radius: 15px;
    margin-left: 24px;
}
.dateSlider .controls {
    top: -9px;
}
.dateSlider .controls #prev {
    background: url('../gfx/slider-r.png') center no-repeat;
    background-position: 16px;
}
.dateSlider .controls #next {
    background: url('../gfx/slider-l.png') center no-repeat;
    background-position: 0px;
}
/** End Slider **/

.breaking-news {
    overflow: hidden;
    position: fixed;
    bottom: -200px;
    width: 100%;
    z-index: 9;
    clear: both;
    font-size: 25px;
    -webkit-transition: bottom .6s ease;
    transition: bottom .6s ease;
}
.breaking-news.show {
    bottom: 0;
}
.breaking-news .main-content {
    -ms-flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
}
.breaking-news .lbl {
    padding: 0 20px 5px 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    margin-left: 15px;
}
.breaking-news p {
    line-height: 190%;
    height: 50px;
    overflow: hidden;
    padding: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.breaking-news .main-content {
    padding: 10px 0;
}
.box {
    margin-bottom: 25px;
    width: 100%;
}
footer .social {
    font-family: Arabiya;
    font-size: 31px;
    display: none;
}
.social li a {
    width: 100%;
    height: 100%;
}
.dark section {
    padding-bottom: 0;
}
.breadcrumbs,
.breadcrumbs a {
    font-weight: bold;
    font-size: 13px;
}
.breadcrumbs a::after {
    content: ">";
    font-size: 14px;
    font-family: Arial;
    padding: 0 10px;
}
.breadcrumbs a:last-child::after {
    content: "";
}
.article-hdr {
    padding: 30px 0 20px 0;
}
.article-hdr h3 {
    font-size: 34px;
    padding-bottom: 8px;
    line-height: 150%;
}
.article-hdr h4 {
    font-size: 25px;
    padding-bottom: 20px;
    line-height: 150%;
}
.article-hdr time {
    font-size: 13px;
    padding-right: 27px;
}
.article-hdr .author {
    font-size: 15px;
    padding-top: 7px;
}
.article-teaser {
    position: relative;
    min-height: 539px;
}
.article-teaser .video-icon {
    top: 0;
    left: 0;
}
article .article-teaser,
article .article-teaser img {
    width: 100%;
    height: auto;
}
.teaser-tools {
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
    height: 40px;
}
.teaser-tools .short-url {
    padding: 8px;
    float: right;
}
.teaser-tools .short-url input {
    outline: none;
    resize: none;
    text-align: center;
    margin-right: 10px;
    padding: 0 5px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.teaser-tools ul {
    float: left;
}
.teaser-tools ul li {
    float: left;
}
.teaser-tools ul li a {
    width: 100%;
    height: 100%;
    min-width: 45px;
    min-height: 43px;
    font-size: 0;
    cursor: pointer;
}
.teaser-tools ul .share {
    padding: 10px 45px 10px 10px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
article {
    margin-bottom: 40px;
}
article p {
    font-size: 16px;
    line-height: 170%;
    padding: 8px 0;
    text-align: justify;
}
.article-hdr,
article p,
.teaser-tools,
blockquote,
article h5 {
    font-family: DroidKufiBold;
    font-weight: bold;
}
article.bigger p {
    font-size: 20px;
}
blockquote {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 29px;
    line-height: 160%;
    text-align: center;
}
blockquote::before {
    content: "“";
    float: right;
    line-height: 100%;
    font-size: 50px;
}
blockquote::after {
    content: "“";
    float: left;
    line-height: 0;
    font-size: 50px;
}
blockquote p {
    text-align: left;
    padding: 10px 0 0 40px;
    font-size: 18px;
}
blockquote p::before {
    content: " - ";
}
.topic {
    width: 35%;
    float: right;
    margin: 10px 0 10px 20px;
    padding: 10px 20px 20px 20px;
}
article .box {
    margin: 20px 0;
    padding: 20px;
    overflow: hidden;
}
.topic img,
.infograph img {
    width: 100%;
}
.topic h2 {
    padding: 0;
}
.topic h2 a,
.topic h2 span {
    margin-bottom: -1px;
    padding-bottom: 7px;
    display: inline-block
}
.tooltip {
    cursor: help;
    float: left;
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 140%;
}
.tooltip .tooltip-txt {
    bottom: 100%;
    left: 0;
    display: block;
    margin-bottom: 15px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    width: 300px;
    font-size: 85%;
    line-height: 180%;
    font-weight: normal;
    text-align: right;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
}
.tooltip .tooltip-txt:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}
.tooltip .tooltip-txt:after {
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}
.tooltip:hover .tooltip-txt {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
article h5 {
    font-size: 25px;
    padding: 10px 0;
    line-height: 150%;
}
.topic.lft {
    float: left;
    margin-right: 20px;
    margin-left: 0;
}
.box h2 span {
    float: left;
}
.table-wrapper {
    padding-bottom: 15px;
    font-weight: bold;
    clear: both;
}
.table-wrapper h5 {
    font-size: 21px;
}
.table-wrapper table {
    width: 100%;
}
.table-wrapper table td,
.table-wrapper table th {
    padding: 10px 10px;
    text-align: center;
}
.table-wrapper table thead th {
    padding: 15px 10px;
}
.table-wrapper table .ttl {
    text-align: right;
    font-weight: bold;
}
.table-wrapper table td {
    font-weight: normal;
    line-height: 210%;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
.notice {
    padding: 10px 0;
}
article .box.tags {
    font-weight: bold;
}
article .box.tags a {
    padding-left: 10px;
    line-height: 200%;
}
.ordered li {
    list-style-type: decimal;
    list-style-position: inside;
    padding: 5px 0;
    font-size: 100%;
}
.ordered li ol li,
.unordered li ul li {
    margin-right: 30px;
}
.unordered li {
    padding: 0 15px 0 0;
    margin: 15px 0;
    clear: both;
}
article .ordered li,
article .unordered li {
    font-weight: bold;
}
.tabs-menu li {
    flex-grow: 1;
    margin-left: 2px
}
.tabs-menu li:last-child {
    margin: 0;
}
.tabs-menu li.current {
    position: relative;
    z-index: 5;
}
.tabs-menu li a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: block;
}
.tabs-menu li:hover a {
    -webkit-transition: color .7s;
    transition: color .7s;
}
.tabs-menu .current a {
    padding-top: 8px;
}
.tab-content {
    display: none;
    padding: 10px;
}
.area-25 .tab-content {
    padding: 20px 0 0 0;
}
.tabs .tab .tab-content:first-child {
    display: block;
}
.tabs .news-articles ul {
    padding: 0;
    margin: 0;
}
.tabs .news-articles li {
    padding: 0;
    margin: 10px 0 0 0;
}
.main-article {
    padding-bottom: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.main-article a {
    display: block;
}
.main-article img {
    width: 623px;
    float: right;
}
.main-article .ttl,
.main-article .txt {
    width: 300px;
    float: left;
    line-height: 150%;
    display: block;
}
.main-article .ttl {
    font-size: 21px;
    margin: 10px 0 15px 0;
    font-weight: bold;
}
.main-article .txt {
    font-size: 17px;
}
.coverage {
    font-weight: bold;
}
.coverage.mod01 {
    width: 100%;
}
.coverage.mod02 {
    height: 296px;
    width: 100%;
}
.coverage.mod01 .txt {
    width: 30%;
    display: inline-block;
    margin: 330px 0 15px 0;
    float: right;
}
.coverage.mod02 .item01 {
    width: 300px;
    margin: 85px 222px 0 0;
    padding-top: 110px;
    float: right;
}
.coverage.mod02 .item02 {
    width: 180px;
    margin: 85px 258px 0 0;
    padding-top: 110px;
    float: right;
}
.coverage .caption {
    padding: 5px 10px;
    width: auto;
    clear: both;
    float: right;
    position: relative;
}
.takeover-outer {
    width: 100%;
    height: 100%;
    min-width: 1340px;
    left: 0;
    top: 245px;
    z-index: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    position: fixed;
}
a.sponsor {
    width: 100%;
    height: 100%;
}
.author-overview img {
    width: 18%;
    float: right;
}
.author-overview h5,
.author-overview p {
    width: 80%;
    float: left;
    line-height: 180%;
}
.author-overview h5 {
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 10px;
}
.section-opinions article {
    padding: 20px 20px 50px 20px;
    position: relative;
}
article .bookmark {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 15px 15px 37px;
}
.section-opinions .article-hdr h3 {
    padding-top: 10px;
}
.section-opinions article .teaser-tools {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}
.area-50 .opinions li,
.area-75 .opinions li,
.area-100 .opinions li {
    clear: none;
    padding-bottom: 20px;
}
.area-50 .opinions li {
    width: 47%;
}
.area-75 .opinions li {
    width: 30%;
}
.area-100 .opinions li {
    width: 21%;
}
.area-25 .opinions li {
    width: 100%;
}
.area-50 .opinions li .pic,
.area-75 .opinions li .pic,
.area-100 .opinions li .pic,
.author-story .story-writer img {
    width: 80px;
    height: 80px;
}
article .disclaimer {
    padding: 20px;
    font-style: italic;
    margin: 15px 0;
    font-size: 12px;
}
.top-writers li .pic,
.top-writers li img {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
}
.top-writers li {
    width: 18%;
    margin-bottom: 20px;
}
.area-50 .top-writers li {
    width: 30%;
}
.area-25 .top-writers li {
    width: 90%;
}
.area-100 .writers li,
.area-75 .writers li {
    width: 14%;
}
.area-50 .writers li {
    width: 30%;
}
.writers li {
    margin-bottom: 15px;
}
.writers li .pic img {
    width: 100%;
}
.writers .author,
.top-writers .author,
.writers .ttl,
.top-writers .ttl {
    padding: 5px 10px;
    text-align: center;
}
.writers .ttl {
    padding-top: 0;
    font-size: 80%;
    line-height: 140%;
}
.writers .author,
.top-writers .author {
    font-weight: bold;
}
.author-overview {
    overflow: hidden;
}
.writers {
    margin: 20px 0 30px 0;
}
.writers li,
.top-writers li {
    text-align: center;
}
.alfa-filter {
    margin: 40px 0;
}
.alfa-filter li {
    width: 3%;
    font-weight: bold;
    cursor: pointer;
    font-size: 110%;
    font-family: Arial;
    line-height: 170%;
    margin-bottom: 5px;
    text-align: center;
}
.area-50 .alfa-filter li {
    width: 7%;
}
.area-25 .alfa-filter li {
    width: 13%;
}
.alfa-filter li.disabled {
    cursor: default;
}
.article-card {
    padding: 20px;
    clear: both;
    line-height: 170%;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.article-card .ttl {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 10px;
    height: 35px;
    line-height: 170%;
}
.article-card p {
    height: 50px;
}
.article-card .ttl,
.article-card p,
.article-card .date-time {
    width: 80%;
    float: left;
    display: block;
    overflow: hidden;
}
.section-opinions .article-card .ttl,
.section-opinions .article-card p,
.section-opinions .article-card .date-time {
    width: 100%;
    float: none;
    height: auto;
}
.article-card .date-time {
    padding-top: 15px;
}
.article-card .date-time .time {
    padding: 5px 10px;
    font-family: Arial;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
}
.article-card img {
    width: 18%;
    float: right;
}
.loader {
    font-size: 13px;
    clear: both;
    text-align: center;
    width: 100%;
    padding: 10px 0 20px 0;
    margin-bottom: 30px;
}
.author-story {
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
}
.author-story .pic {
    width: 55%;
    overflow: hidden;
}
.author-story .story-content {
    width: 45%;
    overflow: hidden;
    padding: 20px;
}
.author-story .pic img {
    width: 100%;
}
.author-story .story-content .ttl {
    font-size: 120%;
    line-height: 150%;
    font-weight: bold;
    padding-bottom: 15px;
}
.story-writer {
    margin-top: 20px;
}
.author-story .story-writer span {
    font-weight: bold;
    padding: 20px 10px;
    display: inline-block;
}
.area-50 .author-story .pic,
.area-50 .author-story .story-content,
.area-25 .author-story .pic,
.area-25 .author-story .story-content {
    width: 100%;
}
.area-25 .author-story .story-content {
    padding: 10px;
    ;
}
.area-25 .author-story .story-writer img {
    width: 60px;
    height: 60px;
}
nav .main-content {
    overflow: hidden;
}
.box.services {
    padding-bottom: 20px;
    overflow: hidden;
    clear: both;
}
.box.services h2,
.contact-form h2 {
    font-size: 150%;
}
.box.services .unordered li {
    margin: 20px 0;
}
.box.services p {
    padding: 10px 0;
}
.box h6 {
    font-size: 110%;
    font-weight: bold;
    padding: 10px 0;
}
.ad-samples {
    margin-bottom: 40px;
}
.ad-samples img {
    width: 47%;
    height: 100%;
}
.ad-samples.full img {
    width: 100%;
}
.rss {
    padding: 5px 35px;
}
.services .flags {
    padding-bottom: 40px;
}
.services .flags img {
    width: 80px;
    height: 50px;
    margin-bottom: 10px;
}
.area-50 .services .flags img {
    width: 55px;
    height: 34px;
}
.area-25 .services .flags img {
    width: 49px;
    height: 31px;
}
h6.flag {
    line-height: 240%;
    padding-top: 60px;
}
h6.flag img {
    width: 60px;
    height: 37px;
    margin-left: 15px;
}
td img {
    margin-left: 10px;
}
/** Forms **/

form .row {
    clear: both;
    padding: 10px 0;
    overflow: hidden;
}
form .row .lbl {
    width: 15%;
    float: right;
    line-height: 230%;
}
form .row .fld {
    width: 85%;
    float: left;
}
.contact-form input[type=text],
.contact-form input[type=password],
.contact-form textarea {
    width: 100%;
}
input[type=text],
input[type=password],
select,
textarea,
.btn {
    padding: 7px;
    resize: none;
    font-family: DroidKufiRegular;
}
.btn {
    font-size: 130%;
    font-weight: bold;
    padding: 10px 40px;
    cursor: pointer;
}
.contact-form .btn {
    float: left;
}
.captcha {
    float: right;
}
.area-25 form .row .lbl,
.area-25 form .row .fld,
.area-25 .btn,
form .error,
form .valid {
    width: 100%;
    float: none;
    display: block;
}
.area-25 form .row .fld,
.area-25 .btn {
    margin-top: 15px;
}
.area-75 .vod-slider {
    width: 100%;
    height: auto;
    margin: 0 0 25px 0;
}
.area-25 .news li,
.vod-slider.news li {
    width: 100%;
    height: auto;
    margin: 0 0 37px 0;
}
.vod-slider.news li {
    margin: 0;
}
.vod-slider.news li .ttl,
.vod-slider.news li .section-ttl {
    display: none;
}
.vod-slider.news .caption.trailer {
    font-family: DroidKufiRegular;
    font-size: 100%;
    right: 20px;
    left: auto;
}
.area-25 .news li:last-child {
    margin-bottom: 0;
}
.section-vod .vod-slider .video-icon {
    top: 20px;
}
.vod-program .cover {
    width: 52%;
    height: 456px;
    overflow: hidden;
    position: relative;
}
.vod-program .cover img {
    width: 100%;
    height: auto;
    position: absolute;
    top: -22px;
    right: 0;
}
.vod-program .video-preview {
    width: 46%;
}
.vod-program .video-preview .ttl {
    font-size: 210%;
    font-weight: bold;
    word-spacing: -5px;
    padding-bottom: 10px;
    line-height: 150%;
}
.vod-program .video-preview p {
    font-size: 120%;
    padding: 67px 0 30px 0;
    line-height: 150%;
    height: 151px;
}
.vod-program .video-preview .presenter {
    display: none;
}
.vod-program .video-preview .date-time {
    padding: 2px 0;
    font-size: 90%;
    display: none;
}
.vod-program .video-preview .date-time .timing {
    display: block;
    float: left;
    font-family: Arial;
    font-weight: bold;
}
.article-teaser .caption {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 100%;
}
article p a {
    display: inline;
}
.artcl-snippet {
    float: left;
    margin-right: 15px;
}
.aa-live {
    width: 330px;
    height: 126px;
    padding: 10px;
    position: fixed;
    bottom: 285px;
    left: 0;
    z-index: 999;
}
.aa-live h2 a {
    display: inline;
}
.aa-live .prog-img,
.aa-live .prog-img img {
    width: 124px;
    height: 69px;
    float: right;
}
.aa-live .watch,
.aa-live .listen {
    width: 170px;
    float: left;
    padding-right: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}
.aa-live .close {
    float: left;
    font-family: Arial;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
    width: 25px;
    text-align: center;
}
.aa-live.hide-live h2,
.aa-live.hide-live a {
    display: none;
}
.hide-live {
    width: 40px;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}
.aa-live .live-open {
    display: none;
}
.aa-live.hide-live .live-open {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.live-popup {
    width: 900px;
    padding: 50px 75px;
    margin: 0 auto;
}
.live-streaming {
    min-width: auto;
}
.live-popup h2 {
    line-height: 150%;
    font-size: 24px;
    padding-right: 40px;
}
.player-wrapper {
    width: 100%;
    overflow: hidden;
}
.player-wrapper {
    margin-bottom: 15px;
}
.live-popup .live-info {
    clear: both;
    overflow: hidden;
    line-height: 250%;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.live-popup .live-info span {
    display: block;
    float: right;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
}
.live-popup .live-info .time {
    float: left;
    font-size: 18px;
    font-family: Arial;
    font-weight: normal;
    padding: 5px 0 0 0;
}
.live-popup .live-info .now {
    font-size: 20px;
}
.live-popup .services .devices {
    width: 50%;
    float: right;
    padding-left: 15px;
}
.live-popup .services .channels {
    width: 50%;
    float: left;
    padding-right: 15px;
}
.live-popup .services h3 {
    font-weight: bold;
    padding-bottom: 30px;
}
.live-popup .services a {
    float: right;
    margin-left: 30px;
}
.live-popup .services .channels a {
    margin-left: 15px;
}
.live-popup .services a:last-child {
    margin-left: 0;
}
.live-popup .services .channels a:last-child {
    margin-left: 0;
}
.area-100 .news-articles ul,
.area-100 .gallery ul,
.area-100 .news.programs ul {
    justify-content: flex-start;
}
.area-100 .news-articles ul li,
.area-100 .gallery ul li,
.area-100 .news.programs ul li {
    margin-left: 14px;
}
.area-100 .news-articles ul li:nth-child(4n+0),
.area-100 .gallery ul li:nth-child(4n+0),
.area-100 .news.programs ul li:nth-child(4n+0) {
    margin-left: 0px;
}
article .teaser-tools .share {
    position: relative;
}
article .teaser-tools .share ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 164px;
    height: 40px;
    display: none;
}
article .teaser-tools .share ul li {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 1px;
}
article .teaser-tools .share ul .whatsapp,
article .teaser-tools .share ul .telegram {
    display: none;
}
article .teaser-tools .share.show-icons {
    width: 162px;
}
article .teaser-tools .share.show-icons ul.share-list {
    display: block;
}
a.loadmore {
    clear: both;
    display: block;
    margin: 20px 0;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
.en {
    direction: ltr;
    font-family: Arial;
}
.en h6 {
    font-size: 150%;
    line-height: 180%;
}
.en h6 img,
.en table img {
    float: right;
}
.en table {
    direction: rtl;
}
.en table td {
    direction: ltr;
}
.en table tr th:first-child,
.en table tr td:first-child {
    text-align: right;
}
.en table tr td:first-child span {
    line-height: 225%;
    display: inline-block;
    margin-top: 13px;
    font-size: 120%;
    font-weight: bold;
}
.scroller {
    overflow: hidden;
    position: relative;
}
.scroller .navigator {
    width: 72px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
}
.scroller .navigator button {
    width: 35px;
    height: 100%;
    display: block;
    float: left;
    cursor: pointer;
    margin-right: 1px;
    border: none;
    padding: 0;
    outline: none;
}
.scroller .navigator i {
    border-style: solid;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
}
.scroller .navigator i.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 8px 0 0 0;
}
.scroller .navigator i.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: -3px 0px 0 0;
}
.scroller {
    position: relative;
    overflow: hidden;
}
#ver-carousel {
    position: absolute;
    visibility: visible;
}
#carouselWrapper {
    position: relative;
    overflow: hidden;
}
.scroller-4 {
    height: 505px;
}
.scroller-6 {
    height: 739px;
}
.scroller-8 {
    height: 973px;
}
.scroller-10 {
    height: 1207px;
}
article .box.infograph .caption {
    display: block;
    padding-top: 10px;
    font-family: DroidKufiRegular;
    font-size: 15px;
}
.leaderboard,
.leaderboard * {
    text-align: center;
    margin: 0 auto;
}
.ftr-disclaimer {
    display: none;
}
/*************** Beta Logo, will be deleted ***************/
header h1.logo {
    width: 215px;
    background-image: url(../gfx/logo-beta.png);
}
.section-aswaq header h1.logo {
    width: 337px !important;
    height: 46px;
    background-image: url(../gfx/aswaq-beta.png) !important;
    background-position: 0 0;
}
.section-vod header h1.logo {
    width: 304px !important;
    height: 46px;
    background-image: url(../gfx/vod-logo-beta.png) !important;
    background-position: 0 0;
}
@media (max-width: 480px) {
    .main-header .logo {
        flex: 0 0 150px !important;
    }
    .section-aswaq header .main-header h1.logo,
    .section-vod header .main-header h1.logo {
        flex: 0 0 200px !important;
        background-image: url(../gfx/sprites-mobile.png) !important;
    }
}