/**CSS Reset**/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul,
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    display: inline-block;
    outline: none;
}
/**CSS Reset**/

/**Main-Structure**/

* {
    box-sizing: border-box;
}
@font-face {
    font-family: DroidKufiRegular;
    src: url("../fonts/DroidKufi-Regular.eot");
    src: url('../fonts/DroidKufi-Regular.eot?') format('eot'), url("../fonts/DroidKufi-Regular.woff") format("woff"), url("../fonts/DroidKufi-Regular.ttf") format("truetype");
}
@font-face {
    font-family: DroidKufiBold;
    src: url("../fonts/DroidKufi-Bold.eot");
    src: url('../fonts/DroidKufi-Bold.eot?') format('eot'), url("../fonts/DroidKufi-Regular.woff") format("woff"), url("../fonts/DroidKufi-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Arabiya;
    src: url("../fonts/BoutrosArabiyaB.eot");
    src: url('../fonts/BoutrosArabiyaB.eot?') format('eot'), url("../fonts/BoutrosArabiyaB.woff") format("woff"), url("../fonts/BoutrosArabiyaB.ttf") format("truetype");
}
body {
    text-align: right;
    font-family: DroidKufiRegular;
    font-size: 95%;
    line-height: 150%;
    min-width: 1340px;
}
/*******Areas************/

.area-100 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
.area-75 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 970px;
    flex: 0 0 960px;
}
.area-50 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 600px;
    flex: 0 0 600px;
}
.area-25 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 350px;
    flex: 0 0 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*******Areas************/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: #000;
    opacity: 0;
    display: none;
    top: 76px;
    right: 0;
}
.overlay.show {
    opacity: 0.5;
    transition: opacity .3s;
    display: block;
}
.main-content {
    direction: rtl;
    width: 1340px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-content,
.top-info .hashtags,
.main-header .weather,
.news-articles ul,
.area-50 .news ul,
.gallery ul,
.news.programs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.top-info .lang {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
}
.top-info .hashtags,
.main-header .weather {
    -ms-flex-positive: 10;
    -webkit-box-flex: 10;
    flex-grow: 10;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.top-info .hashtags a {
    margin-left: 30px;
}
.top-info .hashtags {
    margin-left: 50px;
}
.top-info .date-time,
.top-info .lang,
section {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.main-header .weather {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: left;
}
/*General-rule for box news header h2*/

section > h2,
div > h2 {
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}
.news-articles {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.aa-vidoes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.aswaq-articles div {
    float: right;
}
footer .main-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer .main-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.news-articles ul,
.gallery ul,
.news.programs ul {
    justify-content: space-between;
    align-content: flex-start;
}
/* Pages & Components */

.ad25,
.news,
.news-mod02,
.latest-news,
.news-articles,
.gallery,
.top-content {
    overflow: hidden;
}
header {
    margin-bottom: 35px;
}
.top-info {
    font-size: 13px;
    padding: 7px 0;
}
.top-info .lang a:first-child {
    font-family: Arial;
    line-height: 170%;
}
.main-header {
    height: 150px;
    padding-top: 31px;
}
h1.logo {
    width: 164px;
    height: 70px;
    font-size: 0;
}
h1.logo a {
    width: 100%;
    height: 100%;
}
header .live-streaming span {
    display: inline-block;
    margin-top: -11px;
    padding: 17px 65px 0 20px;
    line-height: 350%;
}
.main-header .weather {
    margin-left: 20px;
}
.mobile-menu,
.mobile-search {
    display: none;
}
header nav {
    padding: 10px 0;
    line-height: 15px;
}
nav ul {
    display: flex;
    flex: 1 0 auto;
}
nav li {
    padding: 0 15px;
    height: 15px;
    margin-top: 12px;
    font-weight: bold;
    font-size: 14px;
    transition: opacity 1s ease-out;
    visibility: visible;
    opacity: 1;
}
nav li:first-child,
.main-content.sections .submenu li:first-child {
    padding-right: 0;
    border: none;
}
nav li:last-child {
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    margin: 0;
}
.main-content .menu-icon {
    visibility: hidden;
    display: flex;
    display: inline-block;
    margin: 0 auto 0 0;
    border-left: 1px solid #ab84aa;
    border-right: none;
    width: 43px;
    height: 16px;
    padding: 0;
    align-self: center;
}
.main-content .menu-icon a {
    width: 26px;
    height: 16px;
    background: url('../gfx/submenu.png') center no-repeat;
}
.main-content .menu-icon.active a {
    background-image: url('../gfx/submenu-active.png');
    height: 30px;
    width: 30px;
    margin: -11px -4px 0 0;
}
.main-content.sections > ul {
    position: relative;
}
.main-content.sections > ul > li {
    xdisplay: none;
    align-self: center;
    visibility: hidden;
    opacity: 0;
}
.main-content.sections .submenu,
.main-content.sections .submenu li {
    visibility: visible;
    opacity: 1;
}
.main-content.sections .submenu {
    border: none;
}
.main-content.sections .submenu > a {
    font-size: 0;
}
.main-content.section-page .menu-icon {
    visibility: visible;
    opacity: 1;
}
.main-content .submenu ul {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-out;
    width: 0;
    overflow: hidden;
}
.main-content.sections .submenu ul {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    height: 40px;
    width: 85%;
    visibility: visible;
    opacity: 1;
}
.main-content.sections .submenu li:last-child {
    height: 15px;
    width: auto;
    margin: 12px 0 0 0;
}
.main-content.sections .submenu li {
    border-right: 1px solid #ab84aa;
    padding-right: 15px;
}
.main-content.sections .seacrh {
    visibility: visible;
    opacity: 1;
    display: inline-block;
    margin: 0;
}
.main-content.sections .menu-icon {
    visibility: visible;
    display: inline-block;
    margin: 0 auto 0 0;
}
section {
    clear: both;
    overflow: hidden;
    width: 100%;
    padding-bottom: 15px;
}
.news li {
    position: relative;
    width: 340px;
    height: 216px;
    float: right;
    margin-right: 20px;
    margin-bottom: 17px;
    overflow: hidden;
}
.news li:first-child,
.area-50 .news li:first-child {
    width: 600px;
    height: 450px;
    float: right;
    margin: 0;
    overflow: hidden;
}
.news-mod02 li:first-child {
    width: 296px;
    height: 450px;
    float: right;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.news-mod02 li:first-child img {
    width: 100%;
    height: 100%;
    margin: 0;
}
.news-mod02 li {
    float: right;
    margin: 0 20px 10px 0;
    overflow: hidden;
    width: 284px;
}
.news-mod02 li .video-icon {
    left: 3px;
    bottom: 5px;
}
.news li:last-child,
.news-mod02 li:last-child {
    margin-bottom: 0;
}
.news-mod02 li .ttl {
    margin-top: 7px;
    display: inline-block;
    height: 45px;
    overflow: hidden;
}
.news-mod02 li:first-child .ttl {
    margin: 0;
    height: auto;
}
.news-mod02 li img {
    width: 100%;
    height: 169px;
}
.news img,
.news-mod02 img {
    overflow: hidden;
}
.area-50 .news li {
    float: none;
    width: 294px;
    height: auto;
    margin: 10px 0 0 0;
}
.area-50 .news ul {
    justify-content: space-between;
}
.area-50 .news .ttl {
    bottom: 26%;
}
a.cover {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
}
span.cover {
    width: 100%;
    position: relative;
    display: inline-block;
}
.top-content .cover {
    width: 127px;
    float: right;
}
.news li img,
.news-mod02 {
    width: 100%;
    height: 100%;
}
.news li:first-child .ttl,
.news .section-ttl,
.news-mod02 li:first-child .ttl,
.news-mod02 .section-ttl {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    padding: 0 20px;
    line-height: 160%;
}
.news .ttl,
.news.programs li:first-child .ttl {
    bottom: 22%;
    font-size: 17px;
    position: absolute;
    padding: 0 20px;
    line-height: 170%;
    font-weight: bold;
}
.news li:first-child .ttl,
.news-mod02 li:first-child .ttl {
    bottom: 15%;
}
.news .section-ttl,
.news-mod02 li:first-child .section-ttl {
    bottom: 20px;
    z-index: 1;
    right: 20px;
    line-height: 150%;
    padding-right: 10px;
    font-size: 14px;
}
.news li:first-child .section-ttl,
.news-mod02 li:first-child .section-ttl {
    font-size: 22px;
}
.news .caption {
    position: absolute;
    font-size: 12px;
    display: inline-block;
    bottom: 20px;
    left: 20px;
    padding: 10px;
}
.area-25 .latest-news {
    width: 100%;
}
.latest-news h2 a,
.top-content h2 a {
    width: 50%;
    padding: 10px 0;
    margin-top: -1px;
}
.area-25 .latest-news li {
    overflow: hidden;
    padding: 10px 0;
    max-height: 67px;
}
.area-25 .latest-news li span {
    display: inline-block;
}
.area-25 .latest-news li:first-child {
    padding-top: 0;
}
.area-25 .latest-news .time {
    width: 15%;
    float: right;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    margin-right: -66px;
}
.area-25 .latest-news a:hover .time {
    margin-right: 0px;
    transition: margin-right ease 0.2s;
    -webkit-transition: margin-right ease 0.2s;
}
.area-25 .latest-news .time .region {
    font-size: 12px;
    width: 100%;
    font-weight: normal;
}
.area-25 .latest-news .ttl {
    width: 85%;
    float: right;
    max-height: 45px;
    overflow: hidden;
    line-height: 150%;
    padding-right: 7px;
    margin-right: -7px;
}
.area-25 .latest-news a:hover .ttl {
    transition: padding-right ease 0.2s;
    -webkit-transition: padding-right ease 0.2s;
    margin-right: 0;
}
h2 {
    padding-right: 10px;
}
.news-articles li {
    overflow: hidden;
    margin-bottom: 35px;
    padding-bottom: 24px;
}
.area-50 .news-articles li,
.area-50 .news.programs li {
    width: 49%;
}
.area-25 .news-articles li,
.area-25 .news.programs li {
    width: 100%;
}
.area-75 .news-articles li,
.news.programs li {
    width: 32.4%;
}
.area-100 .news-articles li,
.area-100 .news.programs li {
    width: 24.2%;
}
.news-articles li img,
.gallery li img {
    width: 100%;
}
.area-25 .news-articles li {
    margin-bottom: 0;
}
.news-articles li .ttl,
.gallery li .ttl,
.topic a .ttl {
    margin: 7px 0 0 0;
    display: inline-block;
    height: 45px;
    overflow: hidden;
}
.news-articles .section-ttl,
.topic .section-ttl {
    font-weight: bold;
    font-size: 100%;
    padding-right: 7px;
    line-height: 120%;
    margin-top: 10px;
}
.news-articles ul,
.gallery ul {
    padding: 12px;
}
.video-icon,
.photo-icon,
.news-mod02 li:first-child .video-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
}
.top-content .video-icon {
    width: 25px;
    height: 25px;
}
.gallery ul li {
    padding-bottom: 15px;
}
.gallery ul li:last-child {
    padding-bottom: 0;
}
.area-50 .gallery ul li {
    width: 47.3%;
}
.area-75 .gallery ul li {
    width: 31.1%;
}
.area-100 .gallery ul li {
    width: 23.2%;
}
.ad25 .wrapper {
    padding: 20px;
}
.top-content {
    width: 100%;
}
.top-content li {
    padding-bottom: 18px;
    margin-bottom: 18px;
}
.top-content li:last-child {
    margin-bottom: 0;
    padding-bottom: 17px;
}
.top-content li img {
    width: 100%;
    float: right;
    margin-left: 15px;
}
.top-content .ttl,
.top-content .caption {
    display: inline-block;
    width: 198px;
    float: left;
    text-align: right;
}
.top-content .caption {
    padding-top: 10px;
}
.caption {
    font-family: Tahoma;
    font-size: 11px;
}
.dark {
    padding-top: 20px;
    margin-bottom: 20px;
}
.dark .news-articles ul {
    padding: 12px 0 0 0;
    margin: 0;
}
.dark .news-articles li {
    padding-bottom: 0px;
    margin-bottom: 25px;
}
.dark .news-articles li .ttl {
    height: auto;
}
.dark .news-articles {
    margin-bottom: 0;
}
.custome-video-home li .ttl {
    height: 20px;
}
.external {
    margin-top: 32px;
}
.news.programs li {
    height: auto;
    margin-right: 0;
    margin-bottom: 15px;
    float: none;
}
.news.programs .ttl,
.news.programs li:first-child .ttl {
    bottom: 5%;
}
.area-50 .news.programs li {
    margin: 0 0 12px 0;
}
.news.programs li img {
    height: auto;
}
.latest-news h2,
.top-content h2 {
    padding-right: 0;
}
.opinions li {
    clear: both;
    overflow: hidden;
    padding: 7px 0;
}
.opinions .pic {
    float: right;
    width: 102px;
    height: 102px;
    overflow: hidden;
}
.opinions .pic img {
    width: 100%;
    height: 100%;
}
.opinions .ttl,
.opinions .author {
    width: 67%;
    float: left;
}
.opinions .ttl {
    font-weight: bold;
    margin: 20px 0 5px 0;
}
footer {
    font-family: DroidKufiBold;
    padding: 50px 0;
}
.footer-separator {
    clear: both;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
}
footer .logo {
    width: 117px;
    height: 50px;
    font-size: 0;
    float: right;
    padding-left: 25px;
    width: 145px;
}
footer .copyrights {
    float: left;
    font-size: 11px;
    padding: 22px 20px 0 0;
}
footer ul {
    padding: 0 50px;
}
footer li a {
    font-size: 13px;
    padding: 2px 0;
}
footer li:first-child {
    font-size: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}
.btn-search {
    width: 37px;
    height: 40px;
    border: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
    padding: 0;
    margin: 0;
}
form.global-search {
    display: none;
    padding: 20px 0;
}
input.fld {
    padding: 10px 0;
    background: none;
    outline: none;
    width: 100%;
    font-size: 26px;
}
button {
    display: none;
}
input::-webkit-input-placeholder {
    font-family: DroidKufiRegular;
}
/** Start Slider **/

.Nwoslider {
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
.slider {
    transform: translate3d(0px, 0px, 0px);
    transition: 0.25s;
    position: relative;
    width: 1320px;
    height: 260px;
    -webkit-flex: 0 0 auto;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -o-flex: 0 0 auto;
    flex: 0 0 auto;
    display: flex;
}
.slider > .item {
    max-width: 100%;
    list-style: none;
    left: 0;
    flex: 0 0 auto;
}
.slider img {
    width: auto;
    height: 200px;
    max-width: 100%;
}
.slider .time {
    height: 60px;
    padding: 18px 10px;
    font-size: 22px;
    font-family: Tahoma;
    direction: ltr;
}
.slider .time .start,
.controls #prev {
    float: right;
}
.slider .time .end,
.controls #next {
    float: left;
}
.slider .time,
.slider .label {
    display: block;
}
.slider .time em {
    text-decoration: none;
    font-size: 17px;
    line-height: 110%;
    padding: 0 7px;
    opacity: 0.6;
}
.controls {
    position: absolute;
    top: 122px;
    width: 100%;
    height: 0;
}
.controls button {
    display: inline-block;
    width: 34px;
    height: 68px;
    cursor: pointer;
    outline: none;
}
.controls button:disabled {
    opacity: 0.5;
    cursor: default;
}
.slider .item {
    position: relative;
}
.slider .item .label {
    position: absolute;
    left: 1px;
    bottom: 1px;
    padding: 10px 10px 10px 20px;
}
.slider .item .label .ttl {
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 3px;
}
.slider .item .label .caption {
    display: block;
    text-align: right;
    font-family: DroidKufiRegular;
    font-size: 14px;
}
/** End Slider **/

.breaking-news {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    clear: both;
    font-size: 25px;
    display: none;
}
.breaking-news .main-content {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.breaking-news .lbl {
    padding: 0 20px 5px 20px;
    font-weight: bold;
    font-size: 30px;
    line-height: 150%;
    margin-left: 15px;
}
.breaking-news p {
    line-height: 190%;
    height: 50px;
    overflow: hidden;
    padding: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.breaking-news .main-content {
    padding: 10px 0;
}
.box {
    margin-bottom: 25px;
}
footer .social {
    font-family: Arabiya;
    font-size: 31px;
    display: none;
}
.social li a {
    width: 100%;
    height: 100%;
}
.dark section {
    padding-bottom: 0;
}
.breadcrumbs,
.breadcrumbs a {
    font-weight: bold;
    font-size: 13px;
}
.breadcrumbs a::after {
    content: ">";
    font-size: 14px;
    font-family: Arial;
    padding: 0 10px;
}
.breadcrumbs a:last-child::after {
    content: "";
}
.article-hdr {
    padding: 30px 0 20px 0;
}
.article-hdr h3 {
    font-size: 34px;
    padding-bottom: 8px;
    line-height: 150%;
}
.article-hdr h4 {
    font-size: 25px;
    padding-bottom: 20px;
    line-height: 150%;
}
.article-hdr time {
    font-size: 13px;
    padding-right: 27px;
}
.article-hdr .author {
    font-size: 15px;
    padding-top: 7px;
}
article .article-teaser,
article .article-teaser img {
    width: 100%;
    height: auto;
}
.teaser-tools {
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
}
.teaser-tools .short-url {
    padding: 10px;
    float: right;
}
.teaser-tools .short-url input {
    outline: none;
    resize: none;
    text-align: center;
    margin-right: 10px;
    padding: 3px 5px;
}
.teaser-tools ul {
    float: left;
}
.teaser-tools ul li {
    float: left;
}
.teaser-tools ul li a {
    width: 100%;
    height: 100%;
    min-width: 45px;
    min-height: 43px;
    font-size: 0;
    cursor: pointer;
}
.teaser-tools ul .share a {
    padding: 11px 45px 10px 10px;
    text-align: center;
    font-size: 14px;
}
article {
    padding: 0 0 30px 10px;
}
article p {
    font-size: 16px;
    line-height: 190%;
    padding: 8px 0;
    text-align: justify;
}
.article-hdr,
article p,
.teaser-tools,
blockquote,
article h5 {
    font-family: DroidKufiBold;
    font-weight: bold;
}
blockquote {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 29px;
    line-height: 160%;
    text-align: center;
}
blockquote::before {
    content: "“";
    float: right;
    line-height: 100%;
    font-size: 50px;
}
blockquote::after {
    content: "“";
    float: left;
    line-height: 0;
    font-size: 50px;
}
blockquote p {
    text-align: left;
    padding: 10px 0 0 40px;
    font-size: 18px;
}
blockquote p::before {
    content: " - ";
}
.topic {
    width: 35%;
    float: right;
    margin: 10px 0 10px 20px;
    padding: 10px 20px 20px 20px;
}
article .infograph {
    margin: 20px 0;
    padding: 10px 20px 20px 20px;
}
.topic img,
.infograph img {
    width: 100%;
}
.topic h2 {
    padding: 0;
}
.topic h2 a,
.topic h2 span {
    margin-bottom: -1px;
    padding-bottom: 7px;
    display: inline-block
}
.tooltip {
    cursor: help;
    float: left;
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    line-height: 140%;
}
.tooltip .tooltip-txt {
    bottom: 100%;
    left: 0;
    display: block;
    margin-bottom: 15px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    width: 300px;
    font-size: 85%;
    line-height: 180%;
    font-weight: normal;
    text-align: right;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
}

.tooltip .tooltip-txt:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.tooltip .tooltip-txt:after {
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}
.tooltip:hover .tooltip-txt {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

article h5 {
    font-size: 30px;
    padding: 10px 0;
    line-height: 150%;
    
}
.topic.lft {
    float: left;
        margin-right: 20px;
    margin-left: 0;
}
.box h2 span {
    float: left;
}