/*************** RESET ***************/

* {
    padding: 0px;
    margin: 0 auto;
    text-decoration: none;
}
input,
select,
option,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    outline: none;
    resize: none;
    padding: 0;
    margin: 0;
}
a,
a:hover,
a:focus {
    display: block;
    outline: none;
    text-decoration: none;
}
ol,
ul,
li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: right;
}
a {
    display: block;
}
@font-face {
    font-family: "Cairo";
    src: url("../fonts/Cairo-SemiBold.ttf");
    url("../fonts/Cairo-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "CairoBold";
    src: url("../fonts/Cairo-Bold.ttf");
    url("../fonts/Cairo-Bold.ttf") format("truetype");
}
body {
    font-family: Cairo;
    background: #fefbf4 url('../gfx/bg.jpg') center top no-repeat;
    color: #515151;
    font-size: 20px;
}
/*************** Colors & BGcolor Groups ***************/

.container {
    padding-top: 2%;
    direction: rtl;
}
b,
.slogan,
.box h3,
.box.overview .nav-tabs>li>a {
    font-family: CairoBold;
}
.slogan {
    font-size: 250%;
    text-align: center;
    padding-top: 2%;
}
.general_info {
    padding: 15% 0 5% 0;
    overflow: hidden;
}
.general_info li {
    width: 33%;
    float: right;
    font-size: 150%;
}
.general_info img {
    float: right;
    width: 20%;
    margin-left: 5%;
}
.box h3 {
    font-size: 150%;
    padding:2% 0 5% 0;
}
hr {
    border-top: dashed 1px #515151;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: right;
}
.box.overview {
    padding-bottom: 6%;
}
.box.overview .nav-tabs>li {
    width: 25%;
    margin: 0;
}
.nav-tabs>li {
    float: right;
    margin-bottom: 0;
}
.box.overview .nav-tabs {
    border-bottom: none;
}
.box.overview .nav-tabs>li>a {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #515151;
    text-align: center;
    margin: 0 6%;
}
.box.overview .nav-tabs>li>a:hover,
.box.overview .nav-tabs>li.active>a,
.box.overview .nav-tabs>li.active>a:focus,
.box.overview .nav-tabs>li.active>a:hover {
    cursor: pointer;
    background-color: #e7ddc4;
    border: solid 1px #e7ddc4;;
}
.tab-content {
    padding-top: 3%;
}
.killer {
    margin-top: 20%;
}
.current_info li {
    clear: both;
    overflow: hidden;
    padding: 2% 0;
}
.current_info li img {
    width: 4%;
    float: right;
    margin-left: 3%;
}
@media (min-width: 1200px) {
    .container {
        width: 1570px;
    }
}