/** CSS Reset **/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
ol,
ul,
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    display: inline-block;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/** End CSS Reset **/

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Montserrat-black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_epG3gnD_vx3rCs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #000;
}
a {
    color: #000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover {
    color: #1ca4a7;
    text-decoration: underline;
}
p {
    font-size: 16px;
    line-height: 170%;
    padding: 15px 0;
}
section {
    padding: 60px 0;
}
.content-area {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
}
.content-head {
    clear: both;
    overflow: hidden;
    padding-bottom: 40px;
}
.wide.content-area {
    width: 1440px;
}
header {
    padding-top: 40px;
}
header .logo {
    width: 140px;
    height: 66px;
    background: url(../gfx/logo.png) center no-repeat;
    font-size: 0;
}
.navigation {
    float: right;
    overflow: hidden;
    clear: both;
    z-index: 9;
}
.navigation li {
    float: left;
}
.navigation a {
    display: block;
    padding: 25px 30px;
    font-size: 12px;
    font-weight: 600;
}
.navigation li:last-child a {
    padding-right: 0;
}
footer a {
    color: #FFF;
}
.main {
    position: relative;
    float: left;
    margin-bottom: 70px;
}
.main img {
    width: 100%;
}
.main .ttl {
    display: block;
    width: 380px;
    color: #FFF;
    position: absolute;
    right: -160px;
    bottom: 40px;
    padding: 40px 20px;
    background-color: #01e6eb;
    font-family: 'Montserrat-black', sans-serif;
    font-size: 35px;
    line-height: 130%;
}
.more {
    font-size: 16px;
    color: #1ca4a7;
}
.main .more {
    position: absolute;
    right: -160px;
    bottom: -40px;
    width: 160px;
    height: 80px;
    color: #FFF;
    line-height: 510%;
    background: #1ca4a7;
    text-align: center;
}
p.center {
    width: 620px;
    margin: 0 auto;
    clear: both;
    padding: 0 0 20px 0;
    line-height: 150%;
    font-size: 24px;
}
section.dark {
    background: #f0f0f0;
}
h2 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 24px;
    float: left;
}
.more {
    float: right;
}
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    clear: both;
}
.slider ul {
    padding-bottom: 30px;
}
.slider ul li {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: #FFF;
    margin-right: 15px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}
.slider ul li img {
    width: 100%;
}
.slider ul li .content {
    display: block;
    padding: 20px;
    overflow: hidden;
}
.slider ul li .date {
    float: left;
    width: 20%;
    overflow: hidden;
}
.slider ul li .month,
.slider ul li .day {
    display: block;
    clear: both;
    text-align: center;
}
.slider ul li .month {
    font-size: 16px;
}
.slider ul li .day {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 32px;
}
.slider ul li .info {
    display: block;
    width: 76%;
    float: right;
}
.slider ul li .info .ttl {
    display: block;
    font-size: 16px;
}
.slider ul li .info .caption,
.slider ul li .info .address {
    display: block;
    font-size: 12px;
    padding-top: 8px;
}
.slider ul li:hover a,
.slider ul li a:hover {
    text-decoration: none;
    color: #000;
}
.slider ul li:hover a .date,
.slider ul li a:hover .date {
    color: #1ca4a7;
}
.slider .arrow {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 27px;
    border: none;
    background: none;
    float: right;
    line-height: 160%;
}
.slider .arrow.left {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.slider .arrow:focus {
    outline: none;
}
.slider .arrow:hover {
    background: #1ca4a7;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
ul.experts,
ul.coverage,
.research ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
ul.experts li {
    overflow: hidden;
    margin-bottom: 20px;
}
ul.experts li a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
ul.experts li a img {
    width: 100%;
    height: 100%;
}
li a .gradient {
    width: 100%;
    height: 100%;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), to(#000000));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000);
    position: absolute;
    top: 0;
    left: 0;
}
li a:hover .gradient {
    opacity: 0.8;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
ul.experts .info {
    position: absolute;
    color: #FFF;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
ul.experts .gradient,
ul.experts .info {
    opacity: 0;
}
ul.experts a:hover .gradient,
ul.experts a:hover .info {
    opacity: 1;
}
ul.experts .info .ttl {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
ul.experts a:hover .info .ttl {
    text-decoration: underline;
}
ul.experts .info .caption {
    font-size: 12px;
    display: block;
}
ul.coverage {
    width: 460px;
}
ul.coverage.left {
    float: left;
}
ul.coverage.right {
    float: right;
}
ul.coverage li {
    background: #FFF;
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
    overflow: hidden;
}
ul.coverage li a {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
}
ul.coverage li .ttl {
    display: block;
    font-size: 20px;
}
ul.coverage li a .ttl {
    color: #000;
}
ul.coverage li a:hover .ttl {
    text-decoration: underline;
}
ul.coverage .date {
    display: block;
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 20px;
    border-bottom: solid 4px #01e6eb;
    z-index: 1;
}
ul.coverage .month,
ul.coverage .day {
    display: block;
    clear: both;
    text-align: center;
}
ul.coverage .month {
    font-size: 16px;
}
ul.coverage .day {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 32px;
}
ul.coverage .focus {
    width: 100%;
    height: 460px;
}
ul.coverage li.focus .ttl,
ul.coverage .focus a {
    color: #FFF;
}
ul.coverage li.focus .ttl {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    width: 60%;
}
ul.coverage img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
ul.coverage a:hover .date {
    border-bottom: solid 4px #000;
}
ul.coverage .focus a:hover .date {
    border-bottom: solid 4px #FFF;
}
footer {
    background-color: #2a2a2a;
    padding: 40px 0 20px 0;
    font-size: 12px;
}
footer .logo {
    width: 219px;
    height: 103px;
    background: url(../gfx/logo-footer.png) center no-repeat;
    font-size: 0;
}
footer .copyrights {
    clear: both;
    color: #FFF;
    padding-top: 20px;
    overflow: hidden;
    line-height: 200%;
}
footer .foot-aa {
    color: #757575;
    float: right;
}
footer .foot-aa a {
    width: 59px;
    height: 23px;
    font-size: 0;
    margin-left: 10px;
    background: url(../gfx/aa-logo.png) center no-repeat;
}
header .menu-btn {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.overlay.show {
    display: block;
}
.single-event {
    display: block;
    overflow: hidden;
    padding-bottom: 50px;
    width: 100%;
    clear: both;
}
.calendar .single-event {
    padding-bottom: 0;
}
.event-cover {
    display: block;
    float: left;
    width: 35%;
    height: auto;
    background: #FFF;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}
.event-cover,
.event-cover img {
    float: left;
}
.event-cover img {
    width: 80%
}
.event-cover .date {
    float: right;
    padding: 20px 0;
    width: 20%;
}
.event-cover .month,
.event-cover .day {
    display: block;
    clear: both;
    text-align: center;
}
.event-cover .month {
    font-size: 16px;
}
.event-cover .day {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 32px;
}
.single-event .info {
    display: block;
    width: 62%;
    float: right;
    margin-top: 160px;
}
.single-event .info .ttl {
    display: block;
    font-size: 24px;
    padding-bottom: 20px;
}
.single-event:hover .info .ttl {
    text-decoration: underline;
}
.single-event .info .caption,
.single-event .info .address {
    display: block;
    font-size: 16px;
    padding-top: 8px;
}
.single-event:hover .info .caption,
.single-event:hover .info .address {
    color: #000;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    display: none;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(0, 34, 35, 0.34);
}
.about-us .main,
.our-experts .main {
    float: right;
}
.about-us .main .ttl,
.events .main .ttl {
    width: 85px;
    height: 80px;
    position: absolute;
    right: auto;
    left: -85px;
    top: 120px;
    bottom: auto;
}
.events .main .ttl {
    left: auto;
    right: -85px;
}
.about-us .main .img02,
.events .main .img02 {
    width: 300px;
    height: 225px;
    position: absolute;
    left: -160px;
    top: 200px;
    z-index: 9;
}
.events .main .img02 {
    right: -160px;
    left: auto;
}
.about-us p {
    width: 82%;
    display: block;
    clear: both;
    font-size: 16px;
}
.research ul li {
    width: 23%;
    font-size: 17px;
}
.research ul li img {
    margin-bottom: 17px;
    clear: both;
    width: 100%;
}
.units ul {
    padding-bottom: 30px;
}
.units li {
    font-size: 16px;
    background: url(../gfx/blt.gif) left 21px no-repeat;
    padding: 7px 0 7px 30px;
    line-height: 170%;
}
.mission .content-area {
    margin-top: -100px;
}
.mission img {
    float: left;
    margin-left: 100px;
}
.mission p {
    width: 300px;
    float: left;
    font-size: 24px;
    line-height: 160%;
    padding: 100px 0 0 30px;
}
.vision img {
    float: right;
}
.vision p {
    width: 55%;
    float: left;
    font-size: 24px;
    line-height: 160%;
    background: #FFF;
    padding: 40px 40px 0 0;
    margin-top: -100px;
}
.about-us h2,
.units h2,
.mission h2,
.vision h2 {
    display: none;
}
nav.about {
    position: fixed;
    top: 390px;
    left: 100px;
    width: 250px;
}
nav.about a {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 24px;
    color: #bdbdbd;
    padding: 5px 0;
}
nav.about a.is-selected {
    color: #000;
}
.our-experts ul li {
    clear: both;
    overflow: hidden;
    padding-bottom: 50px;
}
.our-experts ul li img {
    width: 33%;
    float: left;
}
.our-experts ul li span,
.our-experts ul li p {
    display: block;
    float: right;
    width: 63%;
}
.our-experts ul li .name {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 32px;
    margin-top: 100px;
}
.our-experts ul li .caption {
    font-size: 24px;
    padding: 7px 0;
}
/*** Form ***/

.contact form {
    display: block;
    width: 380px;
    position: absolute;
    right: -160px;
    top: 150px;
    padding: 40px 20px;
    background-color: #FFF;
}
.contact form h2 {
    padding-bottom: 20px;
}
.form-field {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.form-field-label {
    font-size: 16px;
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
    display: block;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: 30px 12px 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 100%;
    color: #9E9E9E;
}
.form-field-control {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.form-field-bar {
    border-bottom: 2px solid #1CA4A7;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 1%;
}
.form-field-input,
.form-field-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #CCC;
    color: #666;
    display: block;
    font-size: 1.2rem;
    margin-top: 24px;
    outline: 0;
    padding: 5px;
    width: 100%;
}
.form-field-input:-ms-input-placeholder ~ .form-field-label,
.form-field-textarea:-ms-input-placeholder ~ .form-field-label {
    font-size: 1rem;
    transform: translateY(0);
}
.form-field-input:placeholder-shown ~ .form-field-label,
.form-field-textarea:placeholder-shown ~ .form-field-label {
    font-size: 1rem;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.form-field-input:focus ~ .form-field-label,
.form-field-textarea:focus ~ .form-field-label {
    color: #1CA4A7;
    font-size: 0.75rem;
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
}
.form-field-input:focus ~ .form-field-bar,
.form-field-textarea:focus ~ .form-field-bar {
    border-bottom: 2px solid #01e6eb;
    -webkit-transform: scaleX(150);
    transform: scaleX(150);
}
.form-field-textarea {
    height: 100px;
    resize: none;
}
.form-field button {
    position: relative;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
    padding: 2px 10px;
    color: rgba(0, 0, 0, 0.4);
    background: white;
    border: none;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #01E6EB), color-stop(50%, transparent));
    background: linear-gradient(to right, #01E6EB 50%, transparent 50%);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.form-field button:before {
    position: absolute;
    content: "Submit";
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    display: block;
    background-color: white;
}
.form-field button:active,
.form-field button:focus,
.form-field button:hover {
    outline: none;
    background-position: 0 0;
    color: #01E6EB;
    cursor: pointer;
}
@media (max-width: 940px) {
    body {
        padding-top: 90px;
    }
    header .logo {
        width: 100px;
        height: 47px;
        background: url(../gfx/logo-header-mob.png) center no-repeat;
    }
    .content-area,
    .wide.content-area {
        width: 90%;
    }
    section,
    section.about {
        padding: 30px 0;
    }
    .main {
        float: none;
        margin-bottom: 20px;
    }
    .main .ttl {
        width: 70%;
        right: 5%;
        bottom: -80px;
        font-size: 23px;
        padding: 10px;
        line-height: 130%;
    }
    .main .more {
        right: 5%;
        bottom: -160px;
        line-height: 330%;
    }
    .more {
        clear: both;
        float: left;
        padding-top: 15px;
    }
    p.center {
        width: 100%;
        padding: 180px 0 0 0;
        font-size: 18px;
    }
    .slider ul li {
        width: 180px;
        height: 194px
    }
    .slider ul li .content {
        padding: 10px;
    }
    .slider ul li .info .ttl {
        display: block;
        font-size: 13px;
    }
    .slider ul li .month {
        font-size: 12px;
    }
    .slider ul li .day {
        font-size: 22px;
    }
    .slider ul li .info .caption,
    .slider ul li .info .address {
        display: none;
    }
    .slider ul li .info {
        width: 70%;
    }
    .slider ul li .date {
        width: 25%;
    }
    .slider .arrow:hover {
        background: none;
        color: #000;
    }
    ul.experts li {
        width: 48%;
    }
    ul.coverage,
    ul.coverage li {
        width: 100%;
        float: none;
    }
    ul.coverage li {
        height: 150px;
    }
    ul.coverage li a .ttl {
        width: 80%;
        overflow: hidden;
    }
    footer .logo {
        width: 100px;
        height: 47px;
        background: url(../gfx/logo-footer-mob.png) center no-repeat;
    }
    footer .navigation {
        display: none;
    }
    footer .copyrights {
        overflow: visible;
    }
    footer .foot-aa {
        margin-top: -50px;
    }
    header {
        z-index: 4;
        width: 100%;
        height: 90px;
        top: 0;
        padding-top: 25px;
        position: fixed;
        background: #FFF;
        -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
        z-index: 999;
    }
    header .content-area {
        background: #FFF;
        width: 100%;
        padding: 0 5%;
    }
    header .navigation {
        max-height: 0;
        -webkit-transition: max-height .2s ease-out;
        -webkit-transition: max-height .2s ease-out;
        transition: max-height .2s ease-out;
    }
    header .navigation li {
        clear: both;
        float: none;
        width: 100%;
        text-align: right;
    }
    .navigation li a {
        padding: 0;
        margin: 30px 0;
        line-height: 130%;
        font-size: 24px;
    }
    .navigation li.active {
        border-right: solid 6px #01e6eb;
        padding-right: 10px;
    }
    header .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 23px 0;
        width: 50px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    header .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        -webkit-transition: background .2s ease-out;
        transition: background .2s ease-out;
        width: 20px;
        float: right;
    }
    header .menu-icon .navicon:before,
    header .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out;
        width: 16px;
        right: 0;
    }
    header .menu-icon .navicon:before {
        top: 6px;
    }
    header .menu-icon .navicon:after {
        top: -6px;
    }
    header .menu-btn:checked ~ .navigation {
        max-height: 500px;
        z-index: 3;
    }
    header .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }
    header .menu-btn:checked ~ .menu-icon .navicon:before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    header .menu-btn:checked ~ .menu-icon .navicon:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    ul.experts .gradient,
    ul.experts .info {
        opacity: 1;
    }
    ul.experts .info {
        padding: 0 10px;
    }
    ul.experts .info .caption {
        display: none;
    }
    ul.experts .info .ttl {
        font-size: 16px;
    }
    .event-cover img {
        width: 75%;
    }
    .single-event .info {
        margin-top: 40px;
    }
    .event-cover .date {
        width: 25%;
        padding: 20px 0;
    }
    .about-us h2,
    .units h2,
    .mission h2,
    .vision h2 {
        display: block;
    }
    .about-us .wide.content-area,
    .our-experts .wide.content-area,
    .events .wide.content-area,
    .press .wide.content-area,
    .contact .wide.content-area {
        width: 100%;
    }
    .about-us .main .img02,
    .events .main .img02 {
        left: 5%;
        top: auto;
        bottom: -30%;
        width: 40%;
        height: auto;
    }
    .about-us .main .ttl,
    .events .main .ttl {
        width: 101px;
        height: 94px;
        left: 33.4%;
        top: 48.6%;
        bottom: auto;
    }
    .about-us .main,
    .events .main {
        margin-bottom: 25%;
    }
    .research ul li {
        width: 47%;
        margin-bottom: 30px;
        font-size: 15px;
    }
    .research ul li img {
        margin-bottom: 10px;
    }
    .mission .content-area {
        margin-top: 0;
    }
    .mission img {
        float: none;
        margin: 0;
        width: 100%;
    }
    .about-us p {
        width: 100%;
    }
    .mission p {
        width: 100%;
        float: none;
        font-size: 20px;
        padding: 20px 0 0 0px;
    }
    .vision img {
        float: none;
        width: 100%;
    }
    .vision p {
        width: 100%;
        float: none;
        font-size: 20px;
        padding: 20px 0 0 0px;
        margin-top: 0;
    }
    nav.about {
        display: none;
    }
    .our-experts ul li .name {
        font-family: 'Montserrat-black', sans-serif;
        font-size: 20px;
        margin-top: 0;
    }
    .our-experts ul li .caption {
        font-size: 14px;
    }
    .contact form {
        width: 95%;
        position: relative;
        right: auto;
        top: -30px;
        padding: 15px 20px;
        margin: 0 auto;
    }
    .contact p.center {
        padding-top: 0;
        width: 90%;
    }
    .contact .main {
        margin-bottom: 20px;
    }
}
@media (max-width: 700px) {
    .single-event {
        background: #FFF;
        border-radius: 5px;
        -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
        width: 96%;
        position: relative;
        margin: 0 2% 30px 2%;
        padding: 0;
    }
    .single-event .event-cover {
        float: none;
        width: 100%;
        height: 200px;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .single-event .event-cover img {
        width: 100%;
    }
    .single-event .date {
        position: absolute;
        top: 203px;
        left: 0;
        width: 20%;
    }
    .single-event .info {
        width: 83%;
        margin-top: 0;
        padding: 20px;
    }
    .single-event .info .ttl {
        padding-bottom: 10px;
    }
    .single-event .info .caption,
    .single-event .info .address {
        font-size: 12px;
    }
    .about-us .main .ttl,
    .events .main .ttl {
        width: 45px;
        height: 45px;
    }
    ul.coverage img {
        width: auto;
    }
}