/**CSS Reset**/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul,
li {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    display: inline-block;
    outline: none;
}
/**CSS Reset**/

/**Main-Structure**/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: DroidKufiRegular;
    src: url("../fonts/DroidKufi-Regular.eot");
    src: url('../fonts/DroidKufi-Regular.eot?') format('eot'), url("../fonts/DroidKufi-Regular.woff") format("woff"), url("../fonts/DroidKufi-Regular.ttf") format("truetype");
}
body {
    text-align: right;
    font-family: DroidKufiRegular;
    font-size: 100%;
    line-height: 150%;
    min-width: 1044px;
}
/*******Areas************/

.area-100 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
.area-75 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 680px;
    flex: 0 0 680px;
}
.area-25 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 325px;
    flex: 0 0 325px;
}
/******* TXT Colors ********/

body,
a,
.full-wrapper .tabs-menu li.current a,
.live-now a:hover .now {
    color: #333;
}
.grid .active,
.grid .active a,
h3 a,
a:hover,
.freq p,
header nav .current a {
    color: #723795;
}
.full-wrapper .grid .tabs-menu li.ttl,
.full-wrapper .grid .tabs-menu li a,
.full-wrapper .grid .tabs-menu .current a,
.live-now .live-info .now span,
.dropbtn,
.dropdown-content a:hover {
    color: #FFF;
}
.full-wrapper .tabs-menu li a,
.item .caption,
.killer h3 {
    color: #b1afaf;
}
.live-now .live-info .time,
.top-content .caption {
    color: #ed1c24;
}
/******* BG Colors ********/

body {
    background-color: #fcfcfc;
}
.overlay {
    background-color: #000;
}
.header-half-bg,
h1.logo,
.main-header .mobile-menu,
footer,
.dropbtn,
.dropdown-content a:hover {
    background-color: #723795;
}
header .main-content,
.live-now,
.episodes .item,
.killer,
.grid .tab-content,
.programs,
.live-now .slidesjs-next,
.full-wrapper .tabs-menu li.current,
.top-content,
.downloads,
.freq {
    background-color: #FFF;
}
.live-now .live-info .now span,
.live-now .live-info .time dd strong,
.dropdown:hover .dropbtn {
    background-color: #ed1c24;
}
.full-wrapper .tabs-menu li,
.dropdown-content {
    background-color: #EEE;
}
.live-now .live-info .time dd {
    background-color: #CCC;
}
.full-wrapper .grid .tabs-menu li {
    background-color: #333;
}
.item .caption,
.episodes .item ul .share,
.grid .item,
.programs .item .caption,
.top-content .item {
    border-color: #f8f8f8;
    border-style: solid;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0;
    display: none;
    top: 65px;
    right: 0;
}
.overlay.show {
    opacity: 0.5;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    display: block;
}
.main-content {
    direction: rtl;
    width: 1044px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-content,
.full-wrapper .tabs-menu,
.downloads,
.freq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
header .main-content {
    padding: 0 0 0 10px;
}
header {
    position: fixed;
    height: 83px;
    overflow: hidden;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 11;
}
h1.logo {
    font-size: 0;
    float: right;
}
h1.logo a {
    width: 100%;
    height: 100%;
}
.header-half-bg {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
}
header nav {
    padding: 32px 90px 0 0;
}
header nav li {
    float: right;
    font-weight: bold;
    margin-left: 30px;
}
header .social {
    text-align: left;
    margin: 30px auto 0 0;
}
header .social a {
    width: 23px;
    height: 20px;
    float: left;
    background-image: url(../gfx/social.png);
    background-repeat: no-repeat;
    margin: 5px 15px 0 0;
}
header .social .insta {
    background-position: 0 0;
}
header .social .fb {
    background-position: -42px 0;
}
header .social .twtr {
    background-position: -90px 0;
}
.social a:hover {
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    opacity: .7;
}
.full-wrapper {
    padding: 110px 0 200px 0;
}
.slides {
    display: none;
    position: relative;
}
.slides img {
    width: 100%;
}
.slidesjs-previous,
.slidesjs-next {
    position: absolute;
    top: 37%;
    z-index: 10;
    font-size: 0;
    width: 80px;
    height: 100px;
    background-image: url(../gfx/slider-controls.png);
    background-repeat: no-repeat;
}
.slidesjs-previous {
    background-position: -80px 0;
    right: 0;
}
.slidesjs-next {
    background-position: 0 0;
    left: 0;
}
.slidesjs-previous:hover,
.slidesjs-next:hover {
    opacity: 0.7;
}
header,
.slider,
.live-now,
.episodes .item,
.killer,
.grid .tab-content,
.programs,
.top-content,
.downloads,
.freq {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.live-now {
    padding: 15px;
}
.thumb {
    position: relative;
}
.thumb img {
    width: 100%;
}
.play-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 60px;
    height: 60px;
    background: url(../gfx/play-icon.png) center no-repeat;
}
.live-now {
    position: relative;
    height: 125px;
    overflow: hidden;
    max-width: 325px;
}
.live-now .live-next {
    width: 80px;
    float: left;
    text-align: center;
}
.live-now .live-next:hover {
    opacity: 0.7;
}
.live-now .thumb,
.top-content .thumb {
    width: 96px;
    float: right;
    overflow: hidden;
}
.live-now .thumb img {
    width: 100%;
    height: 100%;
}
.live-now .live-info {
    width: 155px;
    float: right;
    padding-right: 10px;
    font-weight: bold;
}
.live-now .live-info .now {
    font-size: 80%;
}
.live-now .live-info .now span {
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 9px;
    padding: 3px 5px;
}
.live-now .live-info .time {
    font-size: 11px;
    background: #f9f9f9;
    position: absolute;
    padding: 0 15px 16px 15px;
    bottom: 0;
}
.live-now .live-info .time span {
    padding-right: 5px;
    direction: ltr;
    unicode-bidi: embed;
    font-family: Verdana;
}
.live-now .live-info .time dd {
    height: 7px;
    display: block;
    clear: both;
}
.live-now .live-info .time dd strong {
    float: left;
    height: 7px
}
.live-now .slidesjs-previous {
    display: none;
}
.live-now .slidesjs-next {
    top: -15px;
    width: 45px;
    height: 117px;
    background-image: url(../gfx/next.png);
    background-position: 0 17px;
}
.full-wrapper .tabs-menu li {
    flex-grow: 1;
    margin-left: 2px;
}
.full-wrapper .tabs-menu li:last-child {
    margin: 0;
}
.full-wrapper .tabs-menu li a {
    padding: 10px;
    text-align: center;
    display: block;
    font-weight: bold;
}
.full-wrapper .tabs-menu li:hover a {
    -webkit-transition: color .7s;
    transition: color .7s;
}
.tab-content,
.menu-content {
    display: none;
}
.tab .tab-content:first-child,
.menu-content:first-child {
    display: block;
}
.live-now .slidesjs-container,
.live-now .slidesjs-control,
.live-now .slidesjs-slide {
    width: 300px !important;
    height: 110px !important;
}
.grid .item,
.episodes .item,
.top-content .item {
    padding: 20px 15px 10px 15px;
    margin-bottom: 15px;
    overflow: hidden;
}
.ttl01,
.ttl02 {
    font-weight: bold;
    padding-bottom: 3px;
    font-size: 90%;
    display: block;
    clear: both;
}
.item p {
    font-size: 85%;
    padding: 5px 0;
}
.ttl01,
.ttl02,
.item p {
    width: 55%;
    float: right;
}
.item .caption {
    border-width: 1px 0 0 0;
    font-size: 80%;
    font-weight: bold;
    padding-top: 7px;
    overflow: hidden;
    clear: both;
}
.loader {
    font-family: Tahoma;
    font-size: 13px;
    clear: both;
    text-align: center;
    width: 100%;
    padding: 10px 0 20px 0;
    margin-bottom: 30px;
    background: url(../gfx/loader.gif) center bottom no-repeat;
}
.episodes .item ul {
    width: 40%;
    float: left;
    margin-top: -25px;
}
.episodes .item ul li,
.top-content .item .play-toggle {
    float: left;
    width: 80px;
    height: 60px;
    cursor: pointer;
    background-image: url(../gfx/interact.png);
    background-repeat: no-repeat;
    display: block;
}
.episodes .item ul .play-toggle {
    background-position: 0 0;
}
.episodes .item ul .play-toggle:hover,
.episodes .item ul .play-toggle.active {
    background-position: 0 -82px;
}
.episodes .item ul .share {
    background-position: -101px 0;
    border-width: 0 1px;
}
.episodes .item ul .share:hover,
.episodes .item ul .share.active {
    background-position: -101px -82px;
}
.episodes .item ul .like {
    background-position: -203px 0;
}
.episodes .item ul .like:hover,
.episodes .item ul .like.active {
    background-position: -203px -82px;
}
.killer,
.programs,
.top-content,
.downloads,
.freq {
    padding: 15px;
}
h3 {
    font-size: 110%;
    font-weight: bold;
    padding-bottom: 10px;
    clear: both;
    width: 100%;
}
.full-wrapper .grid .tabs-menu li {
    margin: 0;
    position: relative;
}
.full-wrapper .grid .tabs-menu li a {
    padding: 0 3px;
    margin-top: 21px;
    font-size: 85%;
    font-weight: normal;
    border-left: solid 1px #666;
}
.full-wrapper .grid .tabs-menu li:last-child a {
    border: none;
}
.full-wrapper .grid .tabs-menu li.ttl {
    padding: 20px 10px;
    font-size: 90%;
    font-weight: bold;
    opacity: 0.95;
    text-align: center;
}
.full-wrapper .grid .tabs-menu li.current:after {
    border-left: solid #333 10px;
    border-right: solid #333 10px;
    border-bottom: solid #fff 10px;
    bottom: 0;
    content: " ";
    height: 0;
    left: 40%;
    position: absolute;
    width: 0;
}
.grid .ttl01,
.grid .ttl02,
.grid .item p {
    width: 63%;
    float: left;
    clear: none;
}
.grid .item .timing {
    width: 17%;
    float: right;
    font-family: Arial;
    font-size: 170%;
    letter-spacing: 2px;
}
.grid .item .timing span {
    display: block;
    text-align: center;
    line-height: 180%;
}
.grid img {
    width: 15%;
    float: right;
    margin: 0 2%;
}
.grid .item,
.programs .item .caption {
    margin: 0;
    border-width: 0px 0 1px 0;
}
.programs .item * {
    display: block;
    width: 100%;
    font-weight: bold;
}
.programs .name {
    font-weight: bold;
    padding: 10px 0;
}
.programs .item img {
    width: 100%;
    margin: 5px 0;
}
.programs .item .caption {
    padding: 0 0 10px 0;
}
.programs .item:last-child .caption {
    border: none;
    padding: 0;
}
.episodes.with-thumb {
    margin-top: 30px;
}
.episodes.with-thumb .thumb {
    float: right;
    width: 34%;
    margin: 0 0 6px 20px;
}
.episodes.with-thumb .item ul {
    width: 12%;
    margin-top: 0;
}
.episodes.with-thumb .ttl01,
.episodes.with-thumb .ttl02,
.episodes.with-thumb .item p {
    clear: none;
    width: 49%;
}
.top-content {
    margin: 20px 0;
}
.top-content .item {
    padding: 15px 0;
    border-width: 0 0 1px 0;
    margin: 0;
    position: relative;
}
.top-content .item:last-child {
    border: none;
    padding-bottom: 0;
}
.top-content .ttl01,
.top-content .ttl02,
.top-content .caption {
    width: 190px;
    float: left;
    clear: none;
}
.top-content .item .caption {
    border: none;
    padding-top: 0;
}
.top-content .item .play-toggle {
    width: 33px;
    height: 33px;
    position: absolute;
    left: 0;
    bottom: 10px;
    cursor: pointer;
    background-position: -318px -10px;
}
.top-content .item .play-toggle:hover,
.top-content .item .play-toggle.active {
    background-position: -318px -92px;
}
footer {
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 12;
}
.downloads {
    justify-content: space-around;
}
.downloads h3 {
    clear: both;
    display: block;
    width: 100%;
}
.downloads img {
    margin: 8px 0;
}
.freq {
    justify-content: space-between;
}
.freq p {
    clear: both;
    width: 100%;
    padding: 40px 0 20px 0;
    font-family: Arial;
    font-size: 53px;
    font-weight: bold;
    text-align: center;
}
.dropbtn {
    padding: 5px 40px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: DroidKufiRegular;
    font-weight: bold;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 11;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 10px;
}
.left .dropdown-content {
    right: auto;
    left: 0;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.hide-in-desktop {
    display: none;
}
.killer {
    text-align: center;
}
.killer * {
    margin: 0 auto;
    ;
}
.killer h3 {
    text-align: right;
}
#main04 h3 {
    padding-top: 30px;
}
.img-wrapper {
    margin-bottom: 20px;
}
.img-wrapper img {
    width: 100%;
}
/** Player **/

footer .main-content {
    display: block;
    position: relative;
    padding: 20px 0;
    overflow: hidden;
}
.player {
    z-index: 2;
}
.fm-player .info {
    width: 30%;
    float: right;
    margin: 5px 15px 0 0;
}
.title,
.artist {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.title {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
}
.artist {
    color: #FFF;
    font-size: 14px;
    padding: 5px 0;
}
.cover {
    width: 90px;
    height: 90px;
    border: solid 1px #FFF;
    float: right;
    position: relative;
    background-size: cover;
}
.controls {
    cursor: pointer;
    float: left;
}
.controls .play,
.controls .pause {
    width: 60px;
    height: 60px;
    margin: 0 5px 0px 5px;
}
.controls .play,
.controls .pause,
.controls .rew,
.controls .fwd,
.controls .stop {
    text-indent: -10000px;
    border: none;
    float: left;
}
.controls .rew,
.controls .fwd,
.controls .stop {
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 5px;
}
.controls .play {
    background: url(../gfx/play.png) no-repeat;
}
.controls .pause {
    background: url(../gfx/pause.png) no-repeat;
    display: none;
}
.controls .rew {
    background: url(../gfx/rewind.png) no-repeat;
}
.controls .fwd {
    background: url(../gfx/pnext.png) no-repeat;
}
.controls .stop {
    background: url(../gfx/stop.png) no-repeat;
}
.hidden {
    display: none;
}
.controls .visible {
    display: block;
}
.volume {
    height: 15px;
    width: 140px;
    float: left;
    margin-top: 25px;
    direction: ltr;
}
.mute .volume-btn {
    background: url(../gfx/volume-off.png) no-repeat;
}
.volume-btn {
    background: url(../gfx/volume-up.png) no-repeat;
    height: 20px;
    width: 20px;
    float: left;
    position: relative;
    top: -4px;
}
.volume-adjust {
    height: 11px;
    width: 80%;
    background: #a069c0;
    float: right;
}
.volume-adjust > div > div {
    height: 11px;
    background: #FFF;
}
.progressbar {
    background-color: #a069c0;
    cursor: pointer;
    z-index: 1;
    height: 5px;
    left: 20px;
    position: absolute;
    width: 35.3%;
    top: 85px;
}
.novolume .progressbar {
    right: 4.375em;
    /* 70 */
}
.progressbar div {
    width: 0%;
    height: 5px;
    position: absolute;
    left: 0;
    top: 0;
}
.bar-loaded {
    background-color: #b788d2;
    z-index: 1;
}
.bar-played {
    background: #FFF;
    z-index: 2;
}
.timeHolder {
    font-size: 14px;
    font-weight: bold;
    top: 75px;
    left: 405px;
    position: absolute;
    font-family: Arial;
}
.time-current,
.time-duration,
.time-separator {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.volume .ui-slider-handle {
    height: 13px;
    width: 13px;
}
.playlist {
    background-color: #fff;
    list-style-type: none;
    margin: -10px 0 0 2px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 95%;
    z-index: 1;
    margin: 0px auto;
}
.playlist li,
.playlist div {
    color: #fff;
    cursor: pointer;
    margin: 0 0 5px 15px;
}
.playlist li > a,
.playlist div > a {
    color: #fff;
    text-decoration: none;
}
.playlist li.active,
.playlist div.active {
    font-weight: bold;
}
/**** RESPONSIVE ****/

@media (max-width: 480px) {
    body {
        min-width: auto;
    }
    .noscroll {
        overflow: hidden;
    }
    img {
        max-width: 100%;
    }
    .main-content {
        width: 100%;
        padding: 0 15px;
    }
    header {
        height: 65px;
    }
    .main-header .logo {
        width: 171px;
        margin: 0;
    }
    .main-header .mobile-menu {
        background-image: url(../gfx/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        flex: 0 0 50px;
        transition: background .3s;
        -webkit-transition: background .3s;
        cursor: pointer;
    }
    .main-header .mobile-menu.cross {
        background-image: url(../gfx/cross.png);
    }
    header nav {
        padding: 0;
        margin: 0;
    }
    header nav ul {
        flex-direction: column;
        padding-bottom: 50px;
        overflow-y: scroll;
        visibility: visible;
        opacity: 1;
        width: 70%;
        position: fixed;
        overflow-y: scroll;
        top: 65px;
        right: -70%;
        z-index: 3;
        transition: right .3s;
        -webkit-transition: right .3s;
        background: #333;
        display: block;
        height: 100vh;
    }
    header nav li a {
        padding-right: 15px;
        color: #FFF;
        border-right: 10px solid #333;
    }
    header nav li {
        height: 50px;
        line-height: 50px;
        width: 100%;
        font-size: 15px;
        border: none;
        transition: border-right .2s;
        -webkit-transition: border-right .2s;
        border-bottom: 1px solid #232323 !important;
        border-top: 1px solid #444 !important;
    }
    header nav li:last-child {
        margin-bottom: 40px;
        border-bottom: none !important;
    }
    header nav .current {
        border-right: 10px solid #ed1c24;
    }
    header nav .current a {
        padding-right: 5px;
    }
    header nav ul.show {
        right: 0;
    }
    header nav .menu-icon {
        display: none;
    }
    header .social {
        margin: 20px auto 0 10px;
    }
    .full-wrapper .main-content {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .area-25,
    .area-75,
    .area-100 {
        width: 100%;
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto;
        z-index: 0;
        margin-bottom: 15px;
    }
    .live-now {
        max-width: 480px;
        min-width: 100%;
    }
    .slidesjs-previous,
    .slidesjs-next {
        top: 28%;
    }
    .full-wrapper {
        padding-top: 80px;
    }
    .episodes .item ul {
        width: 40%;
        margin: -25px 0 0 -10px;
    }
    .episodes .item ul li,
    .top-content .item .play-toggle {
        width: 34px;
        height: 25px;
        background-image: url(../gfx/interact_mob.png);
    }
    .episodes .item ul .play-toggle {
        background-position: 5px 0;
    }
    .episodes .item ul .play-toggle:hover,
    .episodes .item ul .play-toggle.active {
        background-position: 5px -27px;
    }
    .episodes .item ul .share {
        background-position: -36px 0;
    }
    .episodes .item ul .share:hover,
    .episodes .item ul .share.active {
        background-position: -36px -27px;
    }
    .episodes .item ul .like {
        background-position: -73px 1px;
    }
    .episodes .item ul .like:hover,
    .episodes .item ul .like.active {
        background-position: -73px -26px;
    }
    .ttl01,
    .ttl02,
    .item p {
        width: 60%;
        font-size: 80%;
        padding: 0;
        line-height: 170%;
    }
    .item p {
        padding: 3px 0;
        font-size: 73%;
    }
    .full-wrapper .grid .tabs-menu li a {
        padding: 0;
        font-size: 64%;
        margin-top: 11px;
    }
    .full-wrapper .grid .tabs-menu li.ttl {
        padding: 10px 0px;
        font-size: 81%;
        font-weight: normal;
    }
    .full-wrapper .grid .tabs-menu li.current:after {
        left: 25%;
    }
    .grid .item .timing {
        width: 17%;
        font-size: 110%;
        letter-spacing: 1px;
    }
    .grid img {
        width: 16%;
    }
    .item .caption {
        font-size: 66%;
    }
    .episodes.with-thumb .thumb {
        margin-left: 10px;
    }
    .episodes.with-thumb .ttl01,
    .episodes.with-thumb .ttl02,
    .episodes.with-thumb .item p {
        width: 54%;
    }
    .top-content .thumb {
        width: 25%;
    }
    .top-content .ttl01,
    .top-content .ttl02,
    .top-content .caption {
        width: 71%;
    }
    .hide-in-mob {
        display: none;
    }
    .hide-in-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .live-now.hide-in-desktop {
        display: block;
    }
    header .main-content {
        justify-content: flex-start;
        padding-left: 0;
    }
    header .social a {
        margin-right: 0;
    }
    .live-now .slidesjs-next {
        background-color: transparent;
    }
    header nav .current a,
    header nav a:hover {
        color: #FFF;
    }
    header nav a {
        width: 100%;
    }
    footer .main-content {
        padding: 10px;
    }
    .fm-player .info {
        width: 60%;
    }
    .controls {
        margin-left: -20px;
    }
    .progressbar {
        width: 210px;
        top: auto;
        bottom: 10px;
        left: 10px;
    }
    .cover {
        width: 70px;
        height: 70px;
    }
    .timeHolder {
        top: auto;
        left: auto;
        right: 10px;
        bottom: 2px;
    }
    .time-current,
    .time-duration,
    .time-separator {
        font-size: 12px;
        font-weight: normal;
    }
}