/*************** RESET ***************/

* {
    padding: 0px;
    margin: 0 auto;
    text-decoration: none;
}
input,
select,
option,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    outline: none;
    resize: none;
    padding: 0;
    margin: 0;
}
a,
a:hover,
a:focus {
    display: block;
    outline: none;
    text-decoration: none;
}
ol,
ul,
li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: right;
}
a {
    display: block;
}
body {
    font-size: 40px;
    background: #f1f1f1;
}
@font-face {
    font-family: "Cairo";
    src: url("../fonts/Cairo-SemiBold.ttf");
    url("../fonts/Cairo-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "CairoBold";
    src: url("../fonts/Cairo-Bold.ttf");
    url("../fonts/Cairo-Bold.ttf") format("truetype");
}
header .user_name,
ul.multimedia li .by,
p time .mins,
.now p time .clock,
.session h3,
p .topic .info .name,
.longin_form button {
    font-family: CairoBold;
}

/*************** Colors & BGcolor Groups ***************/

header .user_name,
ul.sections li,
.session p,
.longin_form button {
    background: #FFF;
}
header .log_in,
.play,
.open_cam,
.open_cam:hover,
.now p time,
.session.now h3,
.comment_form button,
.longin_form input {
    color: #FFF;
}
header,
.open_cam,
.now p time .mins,
.now p time .lbl,
.session.now h3,
.comment_form button,
body.login,
.longin_form input {
    background: #630460;
}
header .user_name,
ul.multimedia li .by,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
p time .clock,
.session h3,
p .topic .info .name,
.longin_form button,
.longin_form button a {
    color: #630460;
}
.nav-tabs li a,
p .topic .info .ttl {
    color: #c2bebe;
}
.container {
    direction: rtl;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Cairo;
}
header {
    padding: 4% 4%;
    overflow: hidden;
}
header h1 {
    width: 30%;
    float: right;
}
header .tools {
    float: left;
    width: 50%;
}
header .user_name {
    float: left;
    text-align: center;
    padding: 2%;
}
header .log_in {
    float: left;
    clear: both;
    padding: 0 2%;
}
ul.multimedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
ul.sections li {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    color: #40545e;
    padding: 8%;
}
ul.sections li,
ul.multimedia li {
    width: 49%;
    float: right;
    margin-top: 2%;
}
ul.multimedia li:nth-child(even) {
    margin-right: 2%;
}
ul.sections li:nth-child(even) {
    float: left;
}
ul.multimedia li a {
    background: #000;
    position: relative;
    margin-bottom: 2%;
}
ul.sections li img {
    clear: both;
    margin-bottom: 10px;
}
ul.multimedia li .ttl * {
    display: block;
    font-size: 60%;
}
ul.multimedia li .by,
ul.multimedia li .user {
    padding-right: 3%;
}
ul.multimedia li .by,
ul.multimedia li .user {
    border-right: solid 8px #630460;
}
footer .container {
    background: none;
    font-family: Arial;
    font-size: 30%;
    padding: 0;
    color: #666;
    text-align: left;
}
hr {
    margin-bottom: 10px;
}
.play {
    display: block;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
}
.open_cam {
    position: fixed;
    width: 80px;
    height: 80px;
    right: 5px;
    bottom: 10%;
    z-index: 999;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    font-size: 35px;
    line-height: 240%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 25px -5px rgba(99, 4, 96, 1);
    -moz-box-shadow: 0px 0px 25px -5px rgba(99, 4, 96, 1);
    box-shadow: 0px 0px 25px -5px rgba(99, 4, 96, 1);
    border: solid 1px #7c2479;
}
.nav-tabs>li {
    float: right;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    border-bottom: solid 4px #630460;
    margin-bottom: -4px;
}
.nav-tabs {
    border-bottom: solid 4px #FFF;
    margin-bottom: 5%;
}
.session h3 {
    padding: 3%;
}
.session p {
    padding: 2% 2% 1% 0;
}
p time {
    float: right;
    padding: 4% 0 5% 0;
    width: 25%;
    background: url(../gfx/timeline.png) left 10px no-repeat;
}
p time * {
    text-align: center;
    display: block;
}
p time img {
    float: left;
}
p time .clock,
p time .mins,
p time .lbl {
    float: right;
    width: 90%;
    font-size: 90%;
}
p time .mins {
    font-size: 110%;
}
p time .clock {
    direction: ltr;
}
.now p time {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1% 2% 3% 0;
}
.now p time .clock {
    background: #f1f1f1;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5% 0;
}
.now p time .lbl {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 100%;
    padding-bottom: 7%;
}
.now p time .clock,
.now p time .mins,
.now p time .lbl {
    width: 75%;
}
.now p time .mins {
    padding-top: 4%;
}
.session h3 {
    font-size: 100%;
    background: #e8e7e7;
}
.session p {
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 3%;
}
p .topic,
p .topic * {
    display: block;
    overflow: hidden;
}
p .topic {
    width: 75%;
    float: left;
}
p .topic .avatar {
    float: right;
    width: 25%;
    margin: 0 2% 0 0;
}
p .topic .avatar img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: solid 5px #e8e7e7;
}
p .topic .info {
    float: right;
    width: 56%;
    padding: 4% 3% 0 0;
}
p .topic .info .ttl {
    font-size: 75%;
}
p .topic .social {
    float: left;
    width: 15%;
    padding: 4% 0% 0 5%;
}
p .topic .social a {
    margin-bottom: 20%;
}
.nav-tabs>li>a {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-right: none;
    border-left: none;
}
.live_stream {
    margin-top: 3%;
}
.comment_form textarea.form-control {
    width: 78%;
    float: right;
    font-size: 50%;
}
.comment_form button {
    float: left;
    width: 20%;
    border: none;
    font-size: 80%;
}
.comment_form textarea.form-control,
.comment_form button {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    height: 100px;
}
.longin_form {
    margin: 5% 0;
}
.longin_form input {
    width: 100%;
    clear: both;
    margin: 4% auto;
    text-align: center;
    border-style: solid;
    border-color: #FFF;
    border-width: 0 0 1px 0;
}
.longin_form input::-webkit-input-placeholder {
    color: #FFF;
}
.longin_form input:-moz-placeholder {
    color: #FFF;
}
.longin_form input::-moz-placeholder {
    color: #FFF;
}
.longin_form input:-ms-input-placeholder {
    color: #FFF;
}
.longin_form button {
    width: 100%;
    border: none;
    padding: 3% 0;
}
@media only screen and (max-width: 992px) {
    .container {
        font-size: 70%;
    }
    .nav-tabs li a {
        font-size: 80%;
    }
    p time {
        background: url(../gfx/timeline_tablet.png) 3px 10px no-repeat;
    }
    p .topic .info {
        font-size: 90%;
    }
    body.login .img-responsive {
        width: 40%;
    }
}
@media only screen and (max-width: 480px) {
    .container {
        font-size: 35%;
    }
    .container ul.multimedia li .ttl * {
        font-size: 95%;
    }
    ul.multimedia li .by,
    ul.multimedia li .user {
        border-right: solid 3px #630460;
    }
    .nav-tabs li a {
        font-size: 100%;
    }
    p time {
        background: url(../gfx/timeline_mob.png) 4px 5px no-repeat;
    }
    p .topic .info {
        font-size: 100%;
    }
    p .topic .avatar {
        width: 27%;
        padding-top: 0;
    }
    .comment_form textarea.form-control,
    .comment_form button {
        height: 60px;
        font-size: 110%;
    }
}