h1.logo,
header .live-streaming span,
.video-icon,
.photo-icon,
footer .logo,
.controls button,
.btn-search,
.article-hdr time,
.teaser-tools ul li {
    background-image: url(../gfx/sprites-default.png);
    background-repeat: no-repeat;
}
footer .social li {
    background-image: url(../gfx/social.png);
    background-repeat: no-repeat;
}
a.cover {
    background: url('../gfx/gradient.png') right -150px repeat-x;
}
.news.programs a.cover {
    background: url('../gfx/gradient02.png') right bottom repeat-x;
}
h1.logo {
    background-position: 0 0;
}
header .live-streaming span {
    background-position: 115px -91px
}
.video-icon {
    background-position: 0 -168px;
}
.top-content .video-icon {
    background-position: -10px -272px;
}
.photo-icon {
    background-position: 0 -218px;
}
footer .logo {
    background-position: 28px -320px;
}
.controls #next {
    background-position: -95px -161px;
}
.controls #prev {
    background-position: -130px -161px;
}
.btn-search {
    background-position: 0 -390px;
}
footer .social .fb {
    background-position: 0 0;
}
footer .social .twtr {
    background-position: -44px 0;
}
footer .social .insta {
    background-position: -88px 0;
}
footer .social .snap {
    background-position: -132px 0;
}
footer .social .yt {
    background-position: -176px 0;
}
footer .social .gplus {
    background-position: -220px 0;
}
footer .social .telegram {
    background-position: -263px 0;
}
.article-hdr time {
    background-position: right -442px;
}
.teaser-tools ul .share {
    background-position: 50px -467px;
}
.teaser-tools ul .pdf {
    background-position: -40px -467px;
}
.teaser-tools ul .prnt {
    background-position: -82px -467px;
}
.teaser-tools ul .font-resize {
    background-position: -124px -467px;
}
body,
footer .logo,
footer .copyrights {
    background-color: #f1f1f1;
}
.top-info,
.tooltip .tooltip-txt {
    background-color: #2b2e38;
}
.main-header,
.area-25 .latest-news .time .region,
.photo-icon,
.teaser-tools ul .share {
    background-color: #580956;
}
header nav,
.news-articles ul,
.breaking-news .lbl,
.teaser-tools,
article .topic,
article .box,
.tabs-menu li.current,
.tab {
    background-color: #FFF;
}
.video-icon {
    background-color: #F33;
}
.slider .active .time,
.breaking-news {
    background: #d62919;
}
.gallery ul,
.dark,
.ad25 .wrapper,
form.global-search,
.tooltip,
.table-wrapper table thead th,
.table-wrapper table th,
.tabs-menu li {
    background-color: rgba(0, 0, 0, 0.06);
}
header .live-streaming {
    background: rgba(0, 0, 0, .2);
}
.slider .time {
    border-left: solid 1px #404040;
    background: #212020;
}
.top-info,
.top-info a,
header a,
header a:hover,
.cover,
.news .section-ttl,
.news-mod02 li:first-child .section-ttl,
.area-25 .latest-news .time .region,
.cover:hover,
.Nwoslider,
.slider > .item,
.breaking-news,
.item a,
.item a:hover,
footer .social,
.teaser-tools ul .share a,
.tooltip .tooltip-txt,
.coverage .caption,
.coverage:hover .caption {
    color: #FFF;
}
header nav a,
h2,
h2 a,
a:hover,
.area-25 .latest-news .time,
.area-25 .latest-news a:hover,
.news-articles .section-ttl:hover,
.top-content .caption,
footer li:first-child a,
.breadcrumbs a:hover,
article h5,
.tabs-menu .current a,
.main-article .ttl,
.tabs-menu li:hover a {
    color: #580956;
}
input::-webkit-input-placeholder,
input.fld,
.article-hdr h4,
.table-wrapper table th {
    color: #7e247c;
}
body,
a,
header nav a:hover,
.article-hdr .author span,
.box h2 span,
.main-article a:hover .txt,
.coverage,
.coverage:hover {
    color: #333;
}
.ad25 h2 {
    color: #b7b6b6;
}
footer .copyrights,
footer a,
.breadcrumbs,
.breadcrumbs a,
.article-hdr time,
blockquote p,
.tooltip,
.table-wrapper .caption,
.table-wrapper table td,
.tabs-menu li a {
    color: #918d91;
}
.breaking-news .lbl,
.article-hdr .author,
blockquote,
.tooltip .tooltip-txt a {
    color: #d11731
}
.article-txt a,
article .box.tags a {
    color: #396BAE;
}
.main-header,
h2,
.latest-news h2 a,
.top-content h2 a,
.news-articles .section-ttl:hover,
.topic h2 a,
.topic h2 span {
    border-color: #6a0b67;
}
.section-ttl,
.news .caption,
.news-mod02 li img,
.opinions .pic,
.slider img,
.breaking-news .close,
.coverage .caption {
    border-color: #fff;
}
.latest-news h2,
.top-content h2,
.latest-news .time,
.latest-news li,
.top-content li,
.topic h2 {
    border-color: #e9e9e9;
}
.news-articles li,
.main-article {
    border-color: #f4f4f4;
}
.news-articles .section-ttl,
.topic .section-ttl {
    border-color: #333;
}
.ad25 h2,
.teaser-tools .short-url input {
    border-color: #b7b6b6;
}
blockquote,
.table-wrapper table thead th,
.table-wrapper table th,
.table-wrapper table td,
.table-wrapper table {
    border-color: #dbdbdb;
}
input.fld,
.tabs-menu li.current {
    border-color: #7e247c;
}
.latest-news h2,
.latest-news h2 a,
.top-content h2,
.top-content h2 a,
.main-header {
    border-style: solid;
    border-width: 1px 0 0 0;
}
.latest-news .time,
.table-wrapper table thead th {
    border-style: solid;
    border-width: 0 0 0 1px;
}
.latest-news li,
.news-articles li,
.top-content li,
.topic h2,
.topic h2 a,
.topic h2 spanm,
.main-article {
    border-style: solid;
    border-width: 0 0 1px 0;
}
h2 {
    border-style: solid;
    border-width: 0 5px 0 0;
}
.news-articles .section-ttl,
.topic .section-ttl {
    border-style: solid;
    border-width: 0 4px 0 0;
}
.table-wrapper table th,
.table-wrapper table td {
    border-style: solid;
    border-width: 1px 0;
}
.section-ttl {
    border-style: solid;
    border-width: 0 4px 0 0;
}
.news li:first-child .section-ttl,
.news-mod02 li:first-child .section-ttl {\
    border-style: solid;
    border-width: 0 6px 0 0;
}
.news .caption,
.breaking-news .close,
.teaser-tools .short-url input,
.table-wrapper table,
.coverage .caption {
    border-style: solid;
    border-width: 1px;
}
.news-mod02 li img,
.opinions .pic {
    border-style: solid;
    border-width: 3px;
}
input.fld {
    border-style: solid;
    border-width: 0 0 2px 0
}
.slider img {
    border-style: solid;
    border-width: 1px 0 1px 1px;
}
.tabs-menu li.current {
    border-style: solid;
    border-width: 2px 0 0 0;
}
blockquote {
    border-style: dotted;
    border-width: 1px 0;
}
header nav li {
    border-right: 1px solid #ab84aa;
}
.latest-news li:last-child,
.area-25 .news-articles li,
.dark .news-articles ul li,
.news-mod02 li:first-child img,
.tooltip .tooltip-txt a,
.table-wrapper table thead td,
.tabs .news-articles li {
    border: none;
}
.dark .news-articles ul,
.area-25 .tab {
    background: none;
}
.news li:first-child a.cover,
.news-mod02 li:first-child a.cover {
    background-position: right bottom;
}
header nav,
.news-articles ul,
.news-mod02 li img,
.Nwoslider,
.teaser-tools,
.topic,
.infograph {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}
.opinions .pic {
    -webkit-border-radius: 102px;
    -moz-border-radius: 102px;
    border-radius: 102px;
}
.footer-separator {
    background: url(../gfx/footer-brdr.gif) center 34px repeat-x;
}
.controls button {
    border: none;
    background-color: Transparent;
}
.slider .item .label {
    background: rgba(88, 9, 86, 0.8)
}
.slider .active .label {
    background: rgba(214, 41, 25, 0.8)
}
.breaking-news .close {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    opacity: 0.7;
}
.breaking-news .close:hover {
    opacity: 1;
}
header nav,
.news-articles ul,
.news-mod02 li img,
.Nwoslider {
    margin-bottom: 2px;
}
.tooltip .tooltip-txt:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #2b2e38 10px;
}
@media print {
    header,
    footer,
    .area-25,
    .breadcrumbs,
    .teaser-tools,
    .topic,
    .box.news,
    .box.tags {
        display: none;
    }
    .area-75 {
        -webkit-box-flex: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .article-hdr h3,
    .article-hdr h4 {
        text-align: right;
        line-height: 150%;
        padding-bottom: 15px;
    }
    .article-hdr time {
        padding: 0;
        color: #CCC;
    }
    body,
    .main-content {
        width: auto;
        min-width: auto;
    }
    article {
        padding-left: 0;
    }
    .infograph {
        padding: 0;
    }
}


/*** SECTIONS THEMING ***/

/* Sports */

.section-sport .main-header {
    background-color: #ef6c03;
}
.section-sport .tabs-menu li.current {
    border-color: #ef6c03;
}
.section-sport .tabs-menu li:hover a,
.section-sport .tabs-menu .current a {
    color: #ef6c03;
}










