
    .CallOut-colorPrimary-1YYlF {
      background: #373c59;
    }

    .Markdown-root-YMTjB {
      color: #FFF;
    }
  
    .Tab-secondary-SAOuB.Tab-active-XrGkw {
      border-color: #373c59;
    }