
  @font-face {
    font-family: "alarabiyaBold";
    src: url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-Bold.woff2") format("woff2"),
      url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-Bold.woff2") format("woff");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "alarabiyaExtraBold";
    src: url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-ExtraBold.woff2") format("woff2"),
      url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-ExtraBold.woff2") format("woff");
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "alarabiyaLight";
    src: url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-Light.woff2") format("woff2"),
      url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-Light.woff2") format("woff");
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "alarabiya";
    src: url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-Regular.woff2") format("woff2"),
      url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-Regular.woff2") format("woff");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "alarabiyaUltraLight";
    src: url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-UltraLight.woff2")
        format("woff2"),
      url("https://avalon.alarabiya.cc/.resources/aa-fe-templating/webresources/dist/assets/fonts/alarabiyaBoutros2020-UltraLight.woff2") format("woff");
    font-style: normal;
    font-weight: 100;
  }

  
  
  .coral-comments {
    background: #FFF;
  }
    
    .CallOut-colorPrimary-1YYlF {
      border: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      background: none;
      position: relative;
      font-weight: bold;
    }

    .CallOut-colorPrimary-1YYlF::before {
      content: "";
      flex: 0 0 72px;
      height: 72px;
      background-color: #373c59;
      border-radius: 50%;
      margin-right: 32px;
    }
    .CallOut-colorPrimary-1YYlF::after {
      content: "";
      background: url(/icon-comment.svg) center no-repeat;
      filter: invert(1) contrast(3);
      position: absolute;
      left: 0;
      top: 50%;
      width: 72px;
      height: 72px;
      transform: translate(0, -50%);
    }

    .Markdown-root-YMTjB {
      color: #000;
      font-weight: bold;
    }
  
    .Tab-secondary-SAOuB.Tab-active-XrGkw {
      border-color: #373c59;
    }

    .CallOut-colorRegular-1TwSR {
      border: none;
      border-radius: 4px;
      background-color: rgba(55, 60, 89, 0.04);
      margin-bottom: 30px;
    }
    .TabBar-primary-3rIQ9 {
      border-color: #e5e5e5;
      padding: 20px 0;
    }

    .TabBar-primary-3rIQ9 li {
      border-right: solid 1px #e5e5e5;
    }
    .TabBar-primary-3rIQ9 li:last-child {
      border: none;
    }

    .Tab-primary-BShmJ.Tab-active-XrGkw {
      border: none;
      font-weight: bold;
    }

    .Tab-primary-BShmJ {
      border: none;
      background: none;
      outline: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    .TabBar-primary-3rIQ9 li:first-child .Tab-primary-BShmJ {
      padding-left: 0;
    }

    .RTE-content-vbwj2, .RTE-toolbar-3drmR {
      border-color: #e5e5e5;
    }

    .RTE-content-vbwj2 {
      border-radius: 4px 4px 0 0;
    }

    .RTE-toolbar-3drmR {
      border-radius: 0 0 4px 4px;
    }

    .Tab-root-33kKH {
      margin-right: 0;
      margin-left: 0;
    }