/** Coral 6.8.1 **/


@font-face {
  font-family: "alarabiyaBold";
  src: url("https://23423423423jkhjkhjk.s3-us-west-2.amazonaws.com/coralcss/alarabiyaBoutros2020-Bold.woff2") format("woff2"),
  url("https://23423423423jkhjkhjk.s3-us-west-2.amazonaws.com/coralcss/alarabiyaBoutros2020-Bold.woff2") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "alarabiyaLight";
  src: url("https://23423423423jkhjkhjk.s3-us-west-2.amazonaws.com/coralcss/alarabiyaBoutros2020-Light.woff2") format("woff2"),
  url("https://23423423423jkhjkhjk.s3-us-west-2.amazonaws.com/coralcss/alarabiyaBoutros2020-Light.woff2") format("woff");
  font-style: normal;
  font-weight: 300;
}

/************************ Light Theme ************************/
:root {
  font-size: 22px;
  --font-family-primary: 'alarabiyaLight';
  --font-family-secondary: 'alarabiyaBold';
  --font-weight-primary-regular: normal;
  --font-weight-primary-bold: normal;
  --font-weight-primary-semi-bold: normal;
  --font-weight-secondary-regular: normal;
  --font-weight-secondary-bold: normal;
  --round-corners: 4px;
  --font-size-icon-md: 1rem;

  /** Palette Primary **/
  --palette-primary-100: #caccd1;
  --palette-primary-200: #caccd1;
  --palette-primary-300: #caccd1;
  --palette-primary-400: #caccd1;
  --palette-primary-500: #aaadb5;
  --palette-primary-600: #8b8f9a;
  --palette-primary-700: #6a707e;
  --palette-primary-800: #4b5162;
  --palette-primary-900: #2b3347;

  /** Palette Grey **/
  --palette-grey-100: #F5F5F5;
  --palette-grey-200: #E5E5E5;
  --palette-grey-300: #C4C4C4;
  --palette-grey-400: #A1A1A1;
  --palette-grey-500: #7F7F7F;
  --palette-grey-600: #5B5B5B;
  --palette-grey-700: #383838;
  --palette-grey-800: #151515;
  --palette-grey-900: #151515;

  /** Palette Text **/
  --palette-text-000: #FFFFFF;
  --palette-text-100: #7F7F7F;
  --palette-text-500: #383838;
  --palette-text-900: #151515;
  --palette-text-placeholder: #A1A1A1;
  --palette-text-input-disabled: #A1A1A1;

  /** Palette Background **/
  --palette-background-body: #FFFFFF;
  --palette-background-popover: #FFFFFF;
  --palette-background-tooltip: rgba(#373c59, 0.8);
  --palette-background-input: #FFFFFF;
  --palette-background-input-disabled: rgba(#373c59, 0.8);

  /** Palette Divider **/
  --palette-divider: #E5E5E5;
}
.coral.coral-tabBar-tab,
.coral.coral-tabBar-tab.coral-tabBar-comments div,
.coral.coral-tabBar-tab.coral-tabBar-myProfile div,
.coral.coral-comment [data-testid="report-comment-form"] form textarea + div div,
.coral.coral-comment-inReplyToUsername {
  font-family: var(--font-family-primary);
}
.coral.coral-tabBar-tab,
.coral.coral-tabBarSecondary-tab.coral-tabBarSecondary-tab-active,
.coral.coral-reactButton.coral-comment-reactButton[aria-pressed="true"] {
  color: var(--palette-grey-900);
}
.coral.coral-tabBar-tab.coral-tabBar-tab-active,
.coral.coral-tabBarSecondary-tab.coral-tabBarSecondary-tab-active,
.coral.coral-counter span,
.coral-reactedButton.coral-comment-reactedButton[aria-pressed="true"] span,
.coral.coral-sortMenu label,
.coral.coral-comment [data-testid="report-comment-form"] form div > div,
.coral.coral-ignoredCommenters > div:first-child,
.coral.coral-emailNotifications form div > div,
.coral.coral-tabBar-tab.coral-tabBar-tab-active div {
  font-family: var(--font-family-secondary);
}
.coral.coral-tabBarSecondary.coral-tabBarComments,
.coral.coral-tabBarSecondary.coral-tabBarComments .coral.coral-counter,
.coral.coral-createComment-submit {
  font-size: var(--font-size-4);
}
.coral.coral-username.coral-comment-username span {
  font-size: var(--font-size-3);
}
.coral.coral-createComment-submit:disabled,
.coral.coral-reportPopover-cancelButton:hover,
.coral.coral-createReplyComment-cancel:hover {
  border-color: var(--palette-grey-200) !important;
}
.coral.coral-indent-1,
.coral.coral-indent-2,
.coral.coral-indent-3,
.coral.coral-indent-4,
.coral.coral-indent-5,
.coral.coral-indent-6,
.coral.coral-indent-7,
.coral.coral-indent-8,
.coral.coral-indent-9,
.coral.coral-indent-10,
.coral.coral-createComment-submit:disabled,
.coral.coral-comment-highlight {
  background-color: var(--palette-grey-100) !important;
}
.coral.coral-createComment-submit,
.coral.coral-reportButton.coral-comment-reportButton[aria-pressed="true"],
.coral.coral-reportPopover-submitButton:not(:disabled),
.coral.coral-createReplyComment-submit:not(:disabled),
.coral.coral-emailNotifications form input:checked + label::before,
.coral.coral-emailNotifications-updateButton:not(:disabled),
.coral.coral-ignoredComments-manageButton:hover {
  border-color: var(--palette-primary-900) !important;
}
hr,
.coral.coral-tabBar,
.coral.coral-tabBar-tab,
.coral.coral-commentForm,
.coral.coral-comment [data-testid="report-comment-form"] form textarea {
  border-color: var(--palette-divider) !important;
}
.coral.coral-tabBarSecondary.coral-tabBarComments .coral.coral-counter span,
.coral.coral-streamFooter-link,
.coral.coral-permalink-viewFullDiscussionButton:not(:disabled),
.coral.coral-myComment-viewConversationButton * {
  color: var(--palette-primary-900);
}
.coral.coral-createReplyComment-replyTo,
.coral.coral-comment [data-testid="report-comment-form"] form li label::after,
.coral.coral-comment-inReplyToUsername {
  background: var(--palette-primary-900);
}
.coral.coral-reportPopover-cancelButton:hover,
.coral.coral-createReplyComment-cancel:hover {
  background-color: var(--palette-grey-200);
  color: var(--palette-text-100);
}
.coral.coral-content.coral-comment-content a {
  color: var(--palette-primary-800);
}
.coral.coral-indent-1,
.coral.coral-indent-2,
.coral.coral-indent-3,
.coral.coral-indent-4,
.coral.coral-indent-5,
.coral.coral-indent-6,
.coral.coral-indent-7,
.coral.coral-indent-8,
.coral.coral-indent-9,
.coral.coral-indent-10,
.coral.coral-comment-inReplyToUsername,
.coral.coral-myComment-reactions,
.coral.coral-myComment-reactions:hover {
  border-radius: var(--round-corners);
}
.coral.coral-comment-inReplyToUsername,
.coral.coral-myComment-reactions,
.coral.coral-myComment-reactions:hover,
.coral.coral-ignoredComments-manageButton:hover {
  color: var(--palette-text-000) !important;
}
.coral.coral-myComment-reactions,
.coral.coral-myComment-reactions:hover,
.coral.coral-createComment-submit,
.coral.coral-reportButton.coral-comment-reportButton[aria-pressed="true"],
.coral.coral-reportPopover-submitButton:not(:disabled),
.coral.coral-createReplyComment-submit:not(:disabled),
.coral.coral-emailNotifications form input:checked + label::before,
.coral.coral-emailNotifications-updateButton:not(:disabled),
.coral.coral-ignoredComments-manageButton:hover {
  background-color: var(--palette-primary-900) !important;
}
.coral.coral-comment-inReplyToUsername {
  font-size: var(--font-size-2);
}
.coral.coral-ignoredComments-manageButton {
  color: var(--palette-text-900) !important;
}
.coral.coral-ignoredComments-manageButton:not(:disabled) {
  border-color: var(--palette-grey-500);
  color: var(--palette-grey-500);
  background-color: var(--palette-text-000);
}
.coral.coral-createComment-signIn:not(:disabled) {
  background-color: var(--palette-text-900);
}
.coral.coral-createComment-signIn:hover {
  background-color: var(--palette-grey-700);
}

/************************ Night Theme ************************/
.night-theme {
  /** Palette Primary **/
  --palette-primary-100: #caccd1;
  --palette-primary-200: #caccd1;
  --palette-primary-300: #caccd1;
  --palette-primary-400: #caccd1;
  --palette-primary-500: #aaadb5;
  --palette-primary-600: #8b8f9a;
  --palette-primary-700: #8b8f9a;
  --palette-primary-800: #8b8f9a;
  --palette-primary-900: #4b5162;

  /** Palette Grey **/
  --palette-grey-100: rgba(255, 255, 255, 0.03);
  --palette-grey-200: rgba(255, 255, 255, 0.08);
  --palette-grey-300: rgba(255, 255, 255, 0.03);
  --palette-grey-400: #AAADB5;
  --palette-grey-500: #8B8F9A;
  --palette-grey-600: #FFFFFF;
  --palette-grey-700: #FFFFFF;
  --palette-grey-800: #FFFFFF;
  --palette-grey-900: #FFFFFF;

  /** Palette Text **/
  --palette-text-000: #FFFFFF;
  --palette-text-100: #8B8F9A;
  --palette-text-500: #FFFFFF;
  --palette-text-900: #FFF;
  --palette-text-placeholder: #8B8F9A;
  --palette-text-input-disabled: #8B8F9A;

  /** Palette Background **/
  --palette-background-body: #2b3347;
  --palette-background-popover: #4b5162;
  --palette-background-tooltip: rgba(255, 255, 255, 0.03);
  --palette-background-input: rgba(255, 255, 255, 0.03);
  --palette-background-input-disabled: rgba(255, 255, 255, 0.03);

  /** Palette Divider **/
  --palette-divider: rgba(255, 255, 255, 0.05);
}
.night-theme .coral.coral-reactButton.coral-comment-reactButton i,
.night-theme .coral.coral-comment-replyButton i,
.night-theme .coral.coral-createReplyComment-replyTo i,
.night-theme .coral-comment-inReplyTo i,
.night-theme .coral.coral-comment-shareButton i,
.night-theme .coral.coral-reportButton.coral-comment-reportButton i,
.night-theme .coral.coral-createReplyComment-replyTo i,
.night-theme .coral.coral-sortMenu i {
  filter: invert(1) contrast(3);
}
.night-theme .coral.coral-streamFooter i {
  filter: none;
}
.night-theme .coral.coral-username.coral-comment-username span,
.night-theme .coral.coral-emailNotifications form span i {
  color: var(--palette-text-000);
}
.night-theme .coral.coral-emailNotifications form input:checked + label::after {
  color: var(--palette-grey-900);
} 
.night-theme .coral.coral-ignoredComments-manageButton,
.night-theme .coral.coral-createComment-signIn {
  color: var(--palette-primary-900) !important;
}
.night-theme .coral.coral-createComment-signIn:hover {
  background-color: var(--palette-grey-200);
  color: var(--palette-text-000);
}
.night-theme .coral.coral-ignoredComments-manageButton:hover {
  color: var(--palette-text-000) !important;
}
.night-theme textarea,
.night-theme .coral.coral-rte-content {
  background: var(--palette-grey-900);
  color: #151515;
}
.night-theme .coral.coral-comment [data-testid="report-comment-form"] form li label::after {
  background: var(--palette-text-000);
}

/************************ Dark Theme ************************/
.dark-theme {
  /** Palette Primary **/
  --palette-primary-100: #c4c4c4;
  --palette-primary-200: #c4c4c4;
  --palette-primary-300: #c4c4c4;
  --palette-primary-400: #c4c4c4;
  --palette-primary-500: #a1a1a1;
  --palette-primary-600: #7f7f7f;
  --palette-primary-700: #5b5b5b;
  --palette-primary-800: #383838;
  --palette-primary-900: #55ccbe;

  /** Palette Grey **/
  --palette-grey-100: rgba(255, 255, 255, 0.03);
  --palette-grey-200: rgba(255, 255, 255, 0.08);
  --palette-grey-300: rgba(255, 255, 255, 0.03);
  --palette-grey-400: #AAADB5;
  --palette-grey-500: #8B8F9A;
  --palette-grey-600: #FFFFFF;
  --palette-grey-700: #FFFFFF;
  --palette-grey-800: #FFFFFF;
  --palette-grey-900: #FFFFFF;

  /** Palette Text **/
  --palette-text-000: #FFFFFF;
  --palette-text-100: #8B8F9A;
  --palette-text-500: #FFFFFF;
  --palette-text-900: #FFF;
  --palette-text-placeholder: #8B8F9A;
  --palette-text-input-disabled: #8B8F9A;

  /** Palette Background **/
  --palette-background-body: #151515;
  --palette-background-popover: #4b5162;
  --palette-background-tooltip: rgba(255, 255, 255, 0.03);
  --palette-background-input: rgba(255, 255, 255, 0.03);
  --palette-background-input-disabled: rgba(255, 255, 255, 0.03);

  /** Palette Divider **/
  --palette-divider: rgba(255, 255, 255, 0.05);
}
.dark-theme .coral.coral-reactButton.coral-comment-reactButton i,
.dark-theme .coral.coral-comment-replyButton i,
.dark-theme .coral.coral-createReplyComment-replyTo i,
.dark-theme .coral-comment-inReplyTo i,
.dark-theme .coral.coral-comment-shareButton i,
.dark-theme .coral.coral-reportButton.coral-comment-reportButton i,
.dark-theme .coral.coral-createReplyComment-replyTo i,
.dark-theme .coral.coral-sortMenu i {
  filter: invert(1) contrast(3);
}
.dark-theme .coral.coral-streamFooter i {
  filter: none;
}
.dark-theme .coral.coral-username.coral-comment-username span,
.dark-theme .coral.coral-emailNotifications form span i {
  color: var(--palette-text-000);
}
.dark-theme .coral.coral-emailNotifications form input:checked + label::after {
  color: var(--palette-grey-900);
}
.dark-theme .coral.coral-createComment-signIn {
  color: var(--palette-background-body) !important;
}
.dark-theme .coral.coral-ignoredComments-manageButton,
.dark-theme .coral.coral-createComment-signIn:hover {
  color: var(--palette-primary-900) !important;
}
.dark-theme .coral.coral-createComment-signIn:hover {
  background-color: var(--palette-grey-200);
  color: var(--palette-text-000);
}
.dark-theme .coral.coral-content.coral-comment-content a {
  color: var(--palette-primary-700);
}
.dark-theme .coral.coral-ignoredComments-manageButton:hover {
  color: var(--palette-text-000) !important;
}
.dark-theme textarea,
.dark-theme .coral.coral-rte-content {
  background: var(--palette-grey-900);
  color: #151515;
}


/************************ Styles ************************/
.coral.coral-tabBar-tab {
  border: solid 1px;
  border-width: 0 1px 0 0;
  background: none;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
}
.coral.coral-tabBar li:last-child .coral.coral-tabBar-tab:last-child {
  border: none;
}
.coral.coral-tabBar-tab.coral-tabBar-tab-active::before {
  display: none;
}
.coral.coral-viewerBox {
  position: absolute;
  top: 20px;
  right: 0;
  display: flex;
  align-items: baseline;
}
.coral.coral-viewerBox .coral-viewerBox-username {
  padding-left: 3px;
  line-height: 80%;
}
.coral.coral-viewerBox div {
  padding-bottom: 0 !important;
}
.coral.coral-createComment {
  margin-top: -20px;
}
.coral.coral-createComment-submit {
  text-transform: unset;
  padding: 5px 10px;
  width: 100%;
  margin-top: 5 !important;
}
.coral-tabBarComments-allComments {
  border: none !important;
}
.coral.coral-counter {
  background: none !important;
}
.coral.coral-sortMenu .coral.coral-sortMenu select {
  border: none;
  padding: 0 0 0 10px;
}
.coral.coral-reactButton.coral-comment-reactButton i {
  background: url("icons/icon-like.svg") center no-repeat;
  background-size: contain;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.coral.coral-comment-replyButton i,
.coral.coral-createReplyComment-replyTo i,
.coral-comment-inReplyTo i {
  background: url("icons/icon-reply.svg") center no-repeat;
  background-size: contain;
  font-size: 0;
  width: 40px;
  height: 40px;
}
.coral.coral-comment-shareButton i {
  background: url("icons/icon-share.svg") center no-repeat;
  background-size: contain;
  font-size: 0;
  width: 20px;
  height: 20px;
}
.coral.coral-reportButton.coral-comment-reportButton i {
  background: url("icons/icon-report.svg") center no-repeat;
  background-size: contain;
  font-size: 0;
  width: 20px;
  height: 20px;
}
.coral.coral-reportButton.coral-comment-reportButton[aria-pressed="true"] i {
  filter: invert(1) contrast(1) !important;
}
.coral.coral-reportButton.coral-comment-reportButton[aria-pressed="true"] {
  border: none;
}
.coral.coral-createReplyComment-replyTo i {
  filter: invert(1) contrast(3);
  width: 30px;
  height: 30px;
}
.coral-comment-inReplyTo i {
  width: 30px;
  height: 30px;
}
.coral.coral-indent {
  border: none;
}
.coral.coral-indent-1,
.coral.coral-indent-2,
.coral.coral-indent-3,
.coral.coral-indent-4,
.coral.coral-indent-5,
.coral.coral-indent-6,
.coral.coral-indent-7,
.coral.coral-indent-8,
.coral.coral-indent-9,
.coral.coral-indent-10 {
  padding: 0;
  margin-left: 30px;
}
.coral.coral-createReplyComment {
  margin-left: 30px;
}
.coral-createReplyComment-replyTo {
  border: none;
}
.coral.coral-comment [data-testid="report-comment-form"],
.coral.coral-comment [data-testid="report-comment-form"] form {
  background: none;
}
.coral.coral-comment [data-testid="report-comment-form"] form {
  padding-left: 20px;
}
.coral.coral-reportPopover-cancelButton,
.coral.coral-reportPopover-submitButton {
  padding: 5px 10px;
  text-transform: unset;
}
.coral.coral-comment-topBar {
  padding-top: 10px;
}
.coral.coral-comment-collapse-toggle .coral.coral-comment-topBar {
  padding-top: 0;
}
.coral.coral-tabBarSecondary-tab.coral-tabBarMyProfile-myComments.coral-tabBarSecondary-tab-active,
.coral.coral-tabBarSecondary-tab.coral-tabBarMyProfile-preferences.coral-tabBarSecondary-tab-active {
  border: none;
  padding-bottom: 8px;
}
.coral.coral-preferences button {
  text-transform: unset;
}
.coral.coral-myComment-viewConversationButton {
  height: 53px;
}
.coral.coral-content.coral-comment-content {
  line-height: 120%;
}
.coral.coral-streamFooter {
  min-height: 50px;
}
.coral.coral-tabBar {
  padding: 10px 0;
}
.coral.coral-comment [data-testid="report-comment-form"] form textarea {
  outline: none;
  resize: none;
}
.coral.coral-comment-inReplyToUsername {
  padding: 1px 5px;
  margin-left: 2px;
}

button.coral.coral-createComment-signIn {
  display: none;
}

.coral.coral-rte-container {
  padding: 10px;
}
.coral.coral-rte-container .coral.coral-rte-content {
  padding: 0;
}

/************************ Responsive Mobile ************************/
@media (max-width: 639px) {
  .coral.coral-viewerBox {
    top: 40px;
  }
  .coral.coral-tabBar-tab.coral-tabBar-comments i {
    font-size: 0;
    background: url("icons/icon-comment.svg") center no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
  }
  .coral.coral-tabBar-tab.coral-tabBar-myProfile i {
    font-size: var(--font-size-icon-md);
  }
  .night-theme .coral.coral-tabBar-tab.coral-tabBar-comments i,
  .dark-theme .coral.coral-tabBar-tab.coral-tabBar-comments i {
    filter: invert(1) contrast(3);
  }
}




/******************** RTL *********************/

:root[lang="ar-AR"] {
  direction: rtl;
}

:root[lang="ar-AR"] .coral.coral-viewerBox {
  right: unset;
  left: 0;
}

:root[lang="ar-AR"] .coral.coral-tabBar-tab {
  border-width: 0 0 0 1px;
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
}

:root[lang="ar-AR"] .coral.coral-sortMenu .coral.coral-sortMenu select {
  padding: 0 10px 0 0;
}

:root[lang="ar-AR"] .coral.coral-sortMenu .coral.coral-sortMenu span {
  right: unset !important;
  left: 0 !important;
}

:root[lang="ar-AR"] .coral.coral-reactButton.coral-comment-reactButton i,
:root[lang="ar-AR"] .coral.coral-comment-replyButton i,
:root[lang="ar-AR"] .coral.coral-createReplyComment-replyTo i,
:root[lang="ar-AR"] .coral-comment-inReplyTo i,
:root[lang="ar-AR"] .coral.coral-reportButton.coral-comment-reportButton i,
:root[lang="ar-AR"] .coral.coral-comment-shareButton i {
  margin-right: 0 !important;
  margin-left: var(--spacing-1) !important;
}

:root[lang="ar-AR"] .coral.coral-comment-inReplyToUsername {
  margin-left: unset;
  margin-right: 2px;
}

:root[lang="ar-AR"] .coral.coral-indent-1,
:root[lang="ar-AR"] .coral.coral-indent-2,
:root[lang="ar-AR"] .coral.coral-indent-3,
:root[lang="ar-AR"] .coral.coral-indent-4,
:root[lang="ar-AR"] .coral.coral-indent-5,
:root[lang="ar-AR"] .coral.coral-indent-6,
:root[lang="ar-AR"] .coral.coral-indent-7,
:root[lang="ar-AR"] .coral.coral-indent-8,
:root[lang="ar-AR"] .coral.coral-indent-9,
:root[lang="ar-AR"] .coral.coral-indent-10,
:root[lang="ar-AR"] .coral.coral-createReplyComment {
  margin-left: unset;
  margin-right: 30px;
}

:root[lang="ar-AR"] .coral.coral-sharePopover-copyButotn.coral-sharePopover-copyButton i {
  margin-right: unset !important;
  margin-left: var(--spacing-1) !important;
}

:root[lang="ar-AR"] .coral.coral-createReplyComment-cancel,
:root[lang="ar-AR"] [data-testid="report-comment-form"] form .coral.coral-reportPopover-cancelButton {
  margin: 0 0 0 var(--spacing-1) !important;
}

:root[lang="ar-AR"] .coral.coral-comment [data-testid="report-comment-form"] li label::before {
  margin-right: 0 !important;
  margin-left: 10px !important;
}

:root[lang="ar-AR"] .coral.coral-streamFooter i {
  padding-right: 0 !important;
  padding-left: var(--spacing-1) !important;
  margin: 0 0 0 var(--spacing-1) !important;
}