.video-js * {
    outline: none;
}
.video-js .vjs-volume-level,
.vjs-menu .vjs-menu-item.vjs-menu-item:focus, .vjs-menu .vjs-menu-item.vjs-menu-item:hover {
    background-color: #ac1600 !important;
}
.vjs-menu .vjs-menu-item.vjs-selected, .vjs-menu .vjs-menu-item.vjs-selected:focus, .vjs-menu .vjs-menu-item.vjs-selected:hover {
    background-color: #0f14ae !important;
    color: #FFF !important;
}
.vjs-menu.vjs-contextmenu-ui-menu .vjs-menu-item.vjs-menu-item:focus, .vjs-menu.vjs-contextmenu-ui-menu .vjs-menu-item.vjs-menu-item:hover {
    background-color: transparent !important;
}